<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="30" name="RIF Tomcat Default">
<!--
  The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
  that rapidly addresses epidemiological and public health questions using 
  routinely collected health and population data and generates standardised 
  rates and relative risks for any given health outcome, for specified age 
  and year ranges, for any given geographical area.
  
  Copyright 2014 Imperial College London, developed by the Small Area
  Health Statistics Unit. The work of the Small Area Health Statistics Unit 
  is funded by the Public Health England as part of the MRC-PHE Centre for 
  Environment and Health. Funding for this project has also been received 
  from the United States Centers for Disease Control and Prevention.  
  
  This file is part of the Rapid Inquiry Facility (RIF) project.
  RIF is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  RIF is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU Lesser General Public License for more details.
  
  You should have received a copy of the GNU Lesser General Public License
  along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
  to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
  Boston, MA 02110-1301 USA
  
  Default log4j2 setup for the RIF middleware. 
  
  The RIF middleware now uses Log4j version 2 for logging. The configuration file: 
  *%CATALINA_HOME%\webapps\rifServices\WEB-INF\classes\log4j2.xml* sets up five loggers:
  
  1. The tomcat logger: *org.apache.catalina.core.ContainerBase.[Catalina].[localhost]* used by the middleware: tomcat.log
  2. The middleware logger: *RIFLogger* used by the middleware: RIF_middleware.log
  3. The taxonmy services logger: *TaxonomyLogger* used by the middleware: TaxonomyLogger.log
  4. The front end (RIF web application) logger: *FrontEndLogger* used by the middleware: FrontEndLogger.log
  5. "Other" for all other logger output not the above: Other.log

  Log4j2 was chosen because it is easy to integrate with tomcat; it is however old and does not always rotate the logs well.
  
  Logs go to STDOUT and ```%CATALINA_HOME%/log4j2/<YYYY>-<MM>/<Log name>.<YYYY>-<MM>-<DD>-<N>.log```; where:

  * ```<Log name>``` is one of: *tomcat*, *RIF_middleware", "TaxonomyLogger*, *FrontEndLogger*;
  * ```<YYYY>``` is the year;
  * ```<MM>``` is the numeric month;
  * ```<DD>``` is the numeric day and; 
  * ```<N>``` is the log sequence number.

  Other messages go to the console. RIF middleware message **DO NOT** go to the console so we can find
  messages not using *RIFLogger*. You can change this.
  
  Logs go to STDOUT and ${sys:catalina.base}/log4j2/<YYYY>-<MM>/ and %CATALINA_HOME/log4j2/<YYYY>-<MM>/
  Other messages go to the console. RIF middleware message DO NOT go to the console so we can find
  messages not using RIFLogger
  
  Logs are rotated everyday or every 100 MB in the year/month specific directory
  
  Typical log entry: 
  
	14:29:37.812 [http-nio-8080-exec-5] INFO  RIFLogger: [rifServices.datastorage.pg.PGSQLRIFContextManager]:
	PGSQLAbstractSQLManager logSQLQuery >>>
	QUERY NAME: getGeographies
	PARAMETERS:
	PGSQL QUERY TEXT: 
	SELECT DISTINCT 
	   geography 
	FROM 
	   rif40_geographies 
	ORDER BY 
	   geography ASC;


	;


	<<< End PGSQLAbstractSQLManager logSQLQuery

  Author: Peter Hambly; 12/9/2017
  -->
  <Properties>
    <Property name="logdir">${sys:catalina.base}/log4j2/$${date:yyyy-MM}</Property>
    <Property name="default_log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %class %logger{36}: %msg%n</Property>
    <Property name="rif_log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %class : %msg%n</Property> 
    <Property name="other_log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %class %logger{36}: %msg%n</Property>
  </Properties>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="${default_log_pattern}"/>
    </Console>
	<!-- File logs are in ${catalina.base}/log4j2 - %CATALINA_HOME%/log4j2 -->
    <RollingFile name="RIF_MIDDLEWARE" 
				 filePattern="${logdir}/RIF_middleware.%d{yyyy-MM-dd}-%i.log"
				 immediateFlush="true" bufferedIO="true" bufferSize="1024">
      <PatternLayout pattern="${rif_log_pattern}"/>
	  <Policies>
		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>              <!-- Rotated everyday -->
		<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
	  </Policies>
    </RollingFile>	
    <RollingFile name="FRONTENDLOGGER" 
				 filePattern="${logdir}/FrontEndLogger.%d{yyyy-MM-dd}-%i.log"
				 immediateFlush="true" bufferedIO="true" bufferSize="1024">
      <PatternLayout pattern="${rif_log_pattern}"/>
	  <Policies>
		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>              <!-- Rotated everyday -->
		<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
	  </Policies>
    </RollingFile>
    <RollingFile name="TAXONOMYLOGGER" 
				 filePattern="${logdir}/TaxonomyLogger.%d{yyyy-MM-dd}-%i.log"
				 immediateFlush="true" bufferedIO="true" bufferSize="1024">
      <PatternLayout pattern="${rif_log_pattern}"/>
	  <Policies>
		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>              <!-- Rotated everyday -->
		<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
	  </Policies>
    </RollingFile>
    <RollingFile name="STATISTICSLOGGER" 
				 filePattern="${logdir}/StatisticsLogger.%d{yyyy-MM-dd}-%i.log"
				 immediateFlush="true" bufferedIO="true" bufferSize="1024">
      <PatternLayout pattern="${rif_log_pattern}"/>
	  <Policies>
		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>              <!-- Rotated everyday -->
		<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
	  </Policies>
    </RollingFile>
    <RollingFile name="OTHER" 
				 filePattern="${logdir}/Other.%d{yyyy-MM-dd}-%i.log"
				 immediateFlush="true" bufferedIO="true" bufferSize="1024">
      <PatternLayout pattern="${other_log_pattern}"/>
	  <Policies>
		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>              <!-- Rotated everyday -->
		<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
	  </Policies>
    </RollingFile>	 
    <RollingFile name="TOMCAT"
				 filePattern="${logdir}/tomcat.%d{yyyy-MM-dd}-%i.log"
				 immediateFlush="true" bufferedIO="true" bufferSize="1024">
      <PatternLayout pattern="${other_log_pattern}"/>
      <Policies>
		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>              <!-- Rotated everyday -->
		<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
      </Policies>
    </RollingFile>
  </Appenders>
  
  <Loggers>

	<!-- Other logging -->
    <Root level="info">
	  <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="OTHER"/>
    </Root>
	
	<!-- tomcat logging -->
    <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost]"
        level="info" additivity="false">
      <AppenderRef ref="TOMCAT"/>
	  <AppenderRef ref="CONSOLE"/>
    </Logger>
    <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/manager]"
        level="info" additivity="false">
      <AppenderRef ref="TOMCAT"/>
	  <AppenderRef ref="CONSOLE"/>
    </Logger>
    <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/host-manager]"
        level="info" additivity="false">
      <AppenderRef ref="TOMCAT"/>
	  <AppenderRef ref="CONSOLE"/>
    </Logger>

      <!-- RIF middleware logger: org.sahsu.rif.generic.util.RIFLogger -->
    <Logger name="org.sahsu.rif.generic.util.RIFLogger"
		level="info" additivity="false">
      <!-- <AppenderRef ref="CONSOLE"/> uncomment to see RIF middleware output on the console -->
      <AppenderRef ref="RIF_MIDDLEWARE"/>
    </Logger>
      <!-- RIF FRont End logger: org.sahsu.rif.generic.util.FrontEndLogger -->
    <Logger name="org.sahsu.rif.generic.util.FrontEndLogger"
		level="info" additivity="false"> <!-- Change to debug for more output -->
      <!-- <AppenderRef ref="CONSOLE"/> uncomment to see RIF Front End console logging on the Tomcat console -->
      <AppenderRef ref="FRONTENDLOGGER"/>
    </Logger>
      <!-- RIF FRont End logger: org.sahsu.rif.generic.util.TaxonomyLogger -->
    <Logger name="org.sahsu.rif.generic.util.TaxonomyLogger"
		level="info" additivity="false"> <!-- Change to debug for more output -->
      <!-- <AppenderRef ref="CONSOLE"/> uncomment to see RIF Front End console logging on the Tomcat console -->
      <AppenderRef ref="TAXONOMYLOGGER"/>
    </Logger>
      <!-- RIF FRont End logger: org.sahsu.rif.generic.util.StatisticsLogger -->
    <Logger name="org.sahsu.rif.generic.util.StatisticsLogger"
		level="info" additivity="false"> <!-- Change to debug for more output -->
      <!-- <AppenderRef ref="CONSOLE"/> uncomment to see RIF Front End console logging on the Tomcat console -->
      <AppenderRef ref="STATISTICSLOGGER"/>
    </Logger>			
  </Loggers>
</Configuration>
