<!--
/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */
-->

<!-- 
HTML partial for symbology modal
-->
<div class="msettings" ng-controller="ChoroplethModalCtrl">
    <div class="msettings-ct">
        <div class="msettings-header">
            <h2> Choropleth map symbology </h2>
            <a class="modal_close" ng-click="close()"></a>
        </div>
        <div id="choroWrap">
            <div class="left">
                <div class="txt-fld">
                    <label for="colourPicker"> Colour scale:</label> 
                    <md-select aria-label="swatches" class="colourPicker" data-ng-model="input.currOption" ng-change="renderSwatch(false, false)">
                        <md-select-label><img src="{{input.currOption.image}}" /></md-select-label>
                        <md-option id="swatch" data-ng-value="opt" data-ng-repeat="opt in options"><img src="{{opt.image}}" /></md-option>
                    </md-select>
                    <div id="brewerLabel">ColorBrewer: {{input.currOption.name}}</div>
                    <div class='invertWrapper'>
                        <input type="checkbox" name="inverter" id="invertColors" ng-model="input.checkboxInvert" ng-change="renderSwatch(false, false)"> 
                        <label for = "invertColors" id="invertColorsLabel"> Invert </label>
                    </div>
                </div>
                <div class="txt-fld">
                    <label for="fieldToMap"> Field to map:</label>
                    <select ng-style="{'text-transform': 'none'}" id='fieldToMap' ng-options="s for s in input.features" ng-model="input.selectedFeature" ng-change="renderSwatch(false, true)"></select>
                </div>
                <div class="txt-fld">
                    <label for="intervals">Intervals:</label>
                    <select id='intervals' ng-options="n for n in input.intervalRange" ng-model="input.selectedN" ng-init="input.selectedN" ng-change="renderSwatch(false, true)" ></select>
                </div>
                <div class="txt-fld">
                    <label for="classification">Classification:</label>
					   <select id='classification' ng-options="item as item.label for item in input.classifications track by item.id" ng-model="input.methodObj" ng-model="selected" ng-change="renderSwatch(false, true)">
<!--                       <select id='classification' ng-model="input.method" ng-change="renderSwatch(false, true)">
                        <option value='quantile'>Quantile</option>
                        <option value='quantize'>Equal Interval</option>
                        <option value='jenks'>Jenks</option>
                        <option value='standardDeviation'> Standard Deviation</option> 
                        <option value='AtlasRelativeRisk'> Atlas Relative Risk</option>
                        <option value='AtlasProbability'> Atlas Probability</option> -->
                        <!--<option value='logarithmic'> Logarithmic</option>-->
                    </select>
                </div>
            </div>
            <div style="margin-top: 15px">Breaks:</div>
            <div class="right">          
                <table id="swatchtable">
                    <tr ng-repeat="i in input.thisMap.range">
                        <td ng-style="{'background-color': i}"></td>
                    </tr>
                </table>
                <table id="breakstable">
                    <tr><td><input class="break" ng-model="input.thisMap.mn" readonly> Minimum</td></tr>
                    <tr ng-repeat="i in input.thisMap.breaks track by $index">
                        <td><input class="break" ng-model="input.thisMap.breaks[$index]"></td>
                    </tr>
                    <tr><td><input class="break" ng-model="input.thisMap.mx" readonly> Maximum</td></tr>
                </table>
            </div>
        </div>
        <hist-img-breaks chart-data="domain" chart-breaks="input.thisMap.breaks"></hist-img-breaks> 
        <div class="save-fld">
            <input type="button" value="Apply" ng-click="apply()">
            <input type="button" value="Reset" ng-click="choroReset()" style="float: right;">
        </div>		
    </div>
</div>
