bin/
target/
*~
*.swp
afiedt.buf
rifDatabase/Postgres/example_data/sahsuland_example_bands.csv
rifDatabase/Postgres/example_data/sahsuland_example_extract.csv
rifDatabase/Postgres/example_data/sahsuland_example_map.csv


#Ignore java classes
**/*.class

#eclipse-specific git ignore settings
.metadata
.project
.classpath
.settings/

rifDatabase/~$RIF database.pptx
rifDatabase/Postgres/~$NSTALL.docx
rifDatabase/Postgres/install/pg_restore.rpt
rifDatabase/Postgres/install/pg_restore.rpt
rifDatabase/Postgres/psql_scripts/npm-debug.log
rifDatabase/Postgres/Node/npm-debug.log
rifDatabase/Postgres/psql_scripts/p.json
rifDatabase/Postgres/psql_scripts/q.json
rifDatabase/Postgres/install/sahsuland.sql
rifDatabase/Postgres/install/sahsuland.7z

rifNodeServices/old/
rifNodeServices/node_modules/
rifDatabase/Postgres/Node/new  1.txt
rifDatabase/Postgres/Node/new  1.txt
rifServices/.classpath
*.classpath
rifServices/.classpath
build.log*
rifDatabase/SQLserver/sahsuland_dev/rif40/table_triggers/test_rif40_version_trigger.sql
rifServices/war.log
rifBuild/JavaMiddleware/rifServices.war
rapidInquiryFacility/clean.log
rifDatabase/Postgres/psql_scripts/auto_quit_tmp.sql
rifDatabase/TestHarness/db_test_harness/npm-debug.log
rifNodeServices/data/bighelloworld.js
rifNodeServices/data/bighelloworld2.js
rifNodeServices/~$NodeGeoSpatialServices.pptx
rifNodeServices/npm-debug.log
Progress Reports/Screenshots/Thumbs.db
rifDatabase/~$ading Data.docx
Progress Reports/CDC Monthly progress reports/2017/~$CDC RIF plans - July 2016 to July 2017.xlsx
rifWebApplication/Thumbs.db
rifWebApplication/src/main/webapp/WEB-INF/images/colorBrewer/Thumbs.db
rifDatabase/SQLserver/production/sahsuland.bak
rifDatabase/SQLserver/production/sahsuland_dev.bak
rifDatabase/SQLserver/production/trumpton.bak
rifDatabase/SQLserver/production/sahsuland.zip
dumpdata/dumpdata.jar
dumpdata/rif40_studies.csv
dumpdata/rif40_db/rif40_db.jar
dumpdata/postgresql-9.2-1002.jdbc4.jar
rifDatabase/SQLserver/production/sahsuland_dev.zip
RIF4.7z
*.war
rifServices/src/main/resources/icdClaML2016ens.xml
rifDatabase/Postgres/production/sahsuland_dev.dump
db_create.rpt
pg_restore.rpt
rifDatabase/Postgres/production/recreate_sahsu_dev_tmp.sql
rifDatabase/Postgres/production/db_create.rpt.err
rifDatabase/Postgres/production/pg_restore.rpt.err
rifDatabase/Postgres/production/db_create.rpt
rifDatabase/Postgres/production/pg_restore.rpt
rifDatabase/Postgres/production/recreate_sahsu_dev_tmp.sql
rifDatabase/Postgres/production/pgpass.conf
rifDatabase/Postgres/production/recreate_sahsu_dev_tmp.sql
rifWebApplication/src/main/webapp/WEB-INF/libs/standalone/images/Thumbs.db
rifWebApplication/src/main/webapp/WEB-INF/libs/standalone/images/Thumbs.db
rifDataLoaderTool-jar-with-dependencies.jar
rifDatabase/SQLserver/production/study_id.txt
rifDatabase/SQLserver/production/inv_id.txt
rifDatabase/Postgres/production/study_id.txt
rifDatabase/Postgres/production/inv_id.txt
Progress Reports/CDC Monthly progress reports/2017/~$CDC RIF plans - April 2017 to December 2017.xlsx
rifDatabase/Postgres/psql_scripts/test_scripts/data/test_6_geojson_test_01.js
rifDatabase/Postgres/psql_scripts/test_scripts/data/test_6_geojson_test_01.js
rifDatabase/Postgres/psql_scripts/test_scripts/data/test_6_geojson_test_01.js
rifDatabase/Postgres/psql_scripts/test_scripts/data/test_6_geojson_test_01.json
rifDatabase/Postgres/production/sahsuland.sql
rifServices/src/main/resources/Rbirthplace.png
Testing/Study Tests/Errors/SEER GA lung cancer county all years BYM/s7/data/tmp_s7_extract.csv
Progress Reports/Screenshots/Thumbs.db
Progress Reports/Screenshots/Thumbs.db
rifDatabase/SQLserver/production.zip
rifWebApplication/src/main/webapp/WEB-INF/libs/standalone/images/Thumbs.db
rifWebApplication/src/main/webapp/WEB-INF/images/Thumbs.db
rifWebApplication/src/main/webapp/WEB-INF/libs/images/Thumbs.db
rifWebApplication/src/main/webapp/WEB-INF/images/Thumbs.db
rifWebApplication/src/main/webapp/WEB-INF/libs/standalone/images/Thumbs.db
rifWebApplication/src/main/webapp/WEB-INF/images/Thumbs.db

**/.idea/*
**/.DS_Store
**/*.iml
*.todo
rif.taskpaper
rifDatabase/Postgres/psql_scripts/test_scripts/data/test_6_geojson_test_01.js
rifDatabase/Postgres/psql_scripts/test_scripts/data/test_6_geojson_test_01.json
**/*catalina*
docs.7z
rifDatabase/Postgres/production/sahsuland.dump
docs/index.html
docs/RIF_manual_data_loading.html
docs/RIF_Postgres_Install.html
docs/RIF_SQLserver_Install.html
docs/RIF_Web_Application_Installation.html
rifServices/${sys:catalina.base}/
.RData
.Rhistory
rifDemo
docs/databaseManagementManual.html
docs/tileMaker.html
**/buildNumber.properties

# R projects
**/*.Rproj*

# Log files
**/*.log

# Jekyll stuff for GitHub Pages
**/Gemfile*
**/.jekyll-metadata
**/.sass-cache
**/_site
**/_plugins
docs/RIF_Data_Loader_Manual.pdf
docs/RIF_v40_Manual.pdf
docs/source-documents/~$F v4 0 Manual.docx
**/Thumbs.db
rifDatabase/Postgres/production/cmdbat.bat
rifDatabase/Postgres/production/rif40_database_install - Copy.bat
