bin/
target/
*~
*.swp
afiedt.buf
rifDatabase/Postgres/example_data/sahsuland_example_bands.csv
rifDatabase/Postgres/example_data/sahsuland_example_extract.csv
rifDatabase/Postgres/example_data/sahsuland_example_map.csv
#eclipse-specific git ignore settings
.metadata
.project
.classpath
rifDatabase/~$RIF database.pptx
rifDatabase/Thumbs.db
rifDatabase/Postgres/~$NSTALL.docx
rifDatabase/Postgres/install/pg_restore.rpt
rifDatabase/Postgres/install/pg_restore.rpt
rifDatabase/Thumbs.db
rifDatabase/Postgres/psql_scripts/npm-debug.log
rifDatabase/Postgres/Node/npm-debug.log
rifDatabase/Postgres/psql_scripts/p.json
rifDatabase/Postgres/psql_scripts/q.json
rifDatabase/Postgres/install/sahsuland.sql
rifDatabase/Postgres/install/sahsuland.7z
