bin/
target/
*~
*.swp
afiedt.buf
rifDatabase/Postgres/example_data/sahsuland_example_bands.csv
rifDatabase/Postgres/example_data/sahsuland_example_extract.csv
rifDatabase/Postgres/example_data/sahsuland_example_map.csv
#eclipse-specific git ignore settings
.metadata
.project
.classpath
rifDatabase/~$RIF database.pptx
rifDatabase/Postgres/~$NSTALL.docx
rifDatabase/Postgres/install/pg_restore.rpt
rifDatabase/Postgres/install/pg_restore.rpt
rifDatabase/Postgres/psql_scripts/npm-debug.log
rifDatabase/Postgres/Node/npm-debug.log
rifDatabase/Postgres/psql_scripts/p.json
rifDatabase/Postgres/psql_scripts/q.json
rifDatabase/Postgres/install/sahsuland.sql
rifDatabase/Postgres/install/sahsuland.7z

rifNodeServices/old/
rifNodeServices/node_modules/
rifDatabase/Postgres/Node/new  1.txt
rifDatabase/Postgres/Node/new  1.txt
rifServices/.classpath
*.classpath
rifServices/.classpath
build.log*
rifDatabase/SQLserver/sahsuland_dev/rif40/table_triggers/test_rif40_version_trigger.sql
rifServices/war.log
rifBuild/JavaMiddleware/rifServices.war
rapidInquiryFacility/clean.log
rifDatabase/Postgres/psql_scripts/auto_quit_tmp.sql
rifDatabase/TestHarness/db_test_harness/npm-debug.log
rifNodeServices/data/bighelloworld.js
rifNodeServices/data/bighelloworld2.js
rifNodeServices/~$NodeGeoSpatialServices.pptx
