html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #777777;
	background-color: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a,a:focus,a:active{
     outline:none;
	 color:#999999
}
a:hover{
	text-decoration:none;
	color:#8DB6CD
}

/*
 * RIF 4.0 CSS
 */   
   body{
		overflow:hidden
   }	
   #rifwrap{
		width:100%;
		height:100%;
		position:absolute;
   }
	#navigation{
		height:40px;
		background-color: #87CEFA;

	}
	#navigation .nav{
		float: right;
        width: auto;
        margin-right: 5%;
	}
	#navigation .nav a{
		display:block;
		float:right;
		padding:5px 10px;
		color:white;	
		margin:10px 4px 0 ;
		border-radius: 4px 4px 0px 0px;   
		font-size:13px
	}
	#navigation .nav a.active{
		background-color:white;
		color: #8DB6CD;

	}


	
	#submenu{
		height:40px;
		background-color: #F5F5F5;
		border-top:1px solid #E3E3E3;
		border-bottom:1px solid #E3E3E3
	}

	#submenu div a img{
		margin:5px 0px;
	}
	
	#submenu div {
		height: 100%;	
	}
	
	#submenu div a img.active{
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	
	#submenu div a.settings {
		float:right;
        margin-right: 10px;
	} 
	
	#submenu a {
		width:32px;
		height:32px;
		float:left
	} 
	
   .chartOpts {
       width: 25%;  
       min-width: 390px;  
	   float: left;
	}
	
	.chartOpts a{ 
		margin:4px 20px;
	}
	.chartOpts #updateCharts{ 
		background: transparent url("../images/update.png") no-repeat;
		opacity:0.2;
	}
	.chartOpts #updateCharts:hover{ 
		opacity:0.6;
	}
	
	.mapOpts {
		width: 30%;  
		float: left;
	}
	
	#baseMapBtn{
		background: transparent url("../images/basemap.png") no-repeat;
	}
	
	#clearSelection{
		background: transparent url("../images/empty-icon.png") no-repeat;
	}
	
	#zoomExtent{
	    background: transparent url("../images/globe-icon.png") no-repeat;
	}
	
	#choroplethBtn{
		background: transparent url("../images/choro_icon1.png") no-repeat;
	}
	
	.mapOpts .mapOpt{
		width:32px;
		height:32px;
		display:block;
		float:left;
		-moz-opacity: 0.7;
		-khtml-opacity: 0.7;
		opacity: 0.7;
		margin: 5px 0px 0px 5px;
	}
	
	.mapOpts a.mapOpt:hover{
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	
	div.transparency{
		width:50px !important
	}
  
  
input[type="range"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 70px;
  height: 15px;
  margin: 10px 0;
  /*border: 1px solid #3D59AB ;*/
  padding: 1px 2px;
  border-radius: 14px;
  background: #BCD2EE;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 11px;
  border: none;
  border-radius: 8px;
  background-color: #3D59AB ;
  cursor:pointer; 
  padding:1px;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 11px;
  border: none;
  border-radius: 8px;
  background-color: #3D59AB ;
  cursor:pointer;
  padding:1px;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 11px;
  border-radius: 8px;
  border: 0;
  background-color: #3D59AB;
  cursor:pointer ; 
  padding:1px;
}
	
	
	#content{
		/* Firefox */
		height: -moz-calc(100% - 135px);
		/* WebKit */
		height: -webkit-calc(100% - 135px);
		/* Opera */
		height: -o-calc(100% - 135px);
		/* Standard */
		height: calc(100% - 135px);
	}
	
	select {
		width: 120px;
		background-color: #F2F2F2;
		border: none;
		color: #999999;
		font-size: 12px;
		display: block;
		padding: 3px;
		text-transform: uppercase;
       
	}
	
	
	.clearslctd	{
		display: block;
		text-align: center;
		text-decoration: none;
	}
	.clearslctd a.clear{
		background-image: url('../images/spritesheet.png');
		background-position: -182px -2px;
		background-repeat: no-repeat;
	}
	
	
    /* Left Col */
	
	#content #leftcol  div#studyInfo{
		padding-bottom: 8%;
		margin-top:3%;
	}
	
	div#studyInfo ul.resultFigures{
		width: 100%;
		overflow:hidden
	}

	li.riskFigures ,li.investigationFigures  {
		width: 46%;
	}
	
	div#studyInfo ul.resultFigures li.riskFigures{
		float:left;
	}
	
	div#studyInfo  ul.resultFigures  li.investigationFigures{
		float:right;
		color: #B5B5B5;
	}
	
	div#studyInfo ul.resultFigures li ul li{
		border-bottom:1px solid #E3E3E3;
		line-height:22px;
	}
	
	div#studyInfo ul.resultFigures span{
		float: right;
		font-weight: bold;
	}
	
	div#studyInfo ul  li.listHeader{
		text-transform: uppercase;
		border: none;
		margin-bottom: 3px;
	}

	#mAreaCharts, #studyInfo {
		margin-left:auto;
		margin-right:auto;
		width: 92%;
	}
	
	#content #rightcol{
		position: relative;
		height: 100%;
		overflow:hidden;
}
	#content #rightcol #map{
		height: 80%;
		display:block;
		background-color:transparent;
	}
	#content #rightcol #map .slctd{	
		float:right;
		overflow:auto;
		margin:10px;
		border-top:2px solid #A9DB80;
		height:auto;
		min-width:auto;
		max-width:100px;
	}
	#content #rightcol #map .slctd div{
		padding:2px 10px;
		background-color:#fff;
		text-transform:uppercase;
		text-align: center;
	}
	
	#content #rightcol #map .slctd div.slctdHeader{
		background-color:#F5F5F5;
	}
   /*
	* Data Table
	*
	*/
	#rr_chart{
		border-top: 1px solid #C1C1C1;
		height: 20%;
		margin-top: 1px;
		background-color: #FFFFFF;
		overflow: hidden;
		background-color: #F5F5F5;
}

	/*
	 *  Map Container
	 */
	.leaflet-container{
		background-color:white
	}
	/*
	 * Map control container - Legend
	 *
	 */
	.map-legend{
		padding:10px 20px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
		border-radius: 5px 5px 5px 5px;
	}
   
    .map-legend .legendTitle{
        text-transform: uppercase;
        text-decoration:underline;
        margin:5px 0;
    }
	
	li.key {
		border-left-width: 12px;
		border-left-style: solid;
		border-color:gray;
		font-size: 1em;
		padding-left: 5px;
		list-style-type: none;
	}
	
	li.key  a{
		color:#7F7F7F;
		height: 25px;
		display:table-cell;
		line-height:30px;;
	}
	
	li.maxkey{
		border:none;
	}
	
	li.maxkey a{
		padding-left:10px
	}
	
   /*
	* Polygon rendering style using D3
    */
  
	path.polygon {
	  fill-opacity: 1;
	  stroke: #1B1;
	  stroke-width: 0.2px;
	}

	path.polygon:hover {
	  fill-opacity: 0.5;
	  cursor:auto
	}

	/*
		Modal
	*/
	
	.overlay {
	  display:none;
	  position: absolute;
	  margin:0;
	  padding:0;
	  width: 100%;
	  height: 100%;
	  z-index: 1000;
	  background-color: rgba(0,0,0,0.4); /*dim the background*/
    }	
    #statusbar{
		z-index: 999999;
	}
	#statusbar div{
		width: auto;
		padding: 2px 0;
		margin: 0 auto;
		color: white;
        text-transform: uppercase;
		text-align: center;
	}
	
	#statusbar div.info{
		background-color:rgba(113,198,113,0.7);
	}
	
	#statusbar div.error{
		background-color:#EE4000;
		width: 300px;
	}
	
	.msettings {
		width: 350px;
		padding-bottom: 2px;
		display:block;
		background: #FFF;
		border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); 
		-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
		margin: 10% auto;
    }
	
	.msettings-header {
		background: #F0FFF0;
		padding: 10px;
		border-bottom: 1px solid #E0EEE0;
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
		color: #B0B0B0;
		text-transform: uppercase;
		height:16px;
    }
	.msettings-header  h2{
	    float:left;
	}
	.msettings-header a.modal_close{
		background: url('../images/close.png');
		width: 20px;
		height: 20px;
		opacity: 0.2;
	}
	.msettings-header a.modal_close:hover{
		opacity: 0.4;
	}
	.msettings-header .modal_close{
		float:right;
	}
	
    .msettings{
	    color: #7D7D7D;
	}
	.msettings .txt-fld {
		padding: 14px 30px;
		border-bottom: 1px solid #EEE;
    }
	.msettings .txt-fld .editBreaks {
	    width:270px;
	}
	.msettings .txt-fld #breaks {
	    display:none;
		height:100px;
	}
	
	.msettings #resultsSetOfInterest{
	   overflow:auto;
	   max-height: 80px;
	}
	
	.msettings #resultsSetOfInterest div#resultsFilter { 
		height: auto;
		width: 180px;
		margin: 5px 0 0 100px;
		position: relative;
		min-height: 20px;
	}
	
	.msettings #resultsSetOfInterest div#resultsFilter div { 
		height: 20px;
		min-width:85px;
		display:block;
		float:left
	}
	
	.msettings #resultsSetOfInterest  div#resultsFilter input.colsChoice { 
		float: left;
		margin: 6px 3px;
	}
	
	.msettings #resultsSetOfInterest div#resultsFilter label.colsChoiceLbl { 
		width: auto;
		padding: 2px 8px 0 0px;
	}
	
	
	.msettings .txt-fld #breaks input {
	    float:left;
		width:58px;
		margin:5px 10px 5px 0px;
		font-size: 1.1em;
		color:#CCC;
		border:0;
		background:#F7F7F7
	}
	
	.msettings .txt-fld, #msettings .save-fld, #msettings .save-fld-settings, #msettings  save-basemap{
	    position: relative;
	    text-align: right;
	}
	
	.msettings .txt-fld label {
		display: block;
		float: left;
		width: 100px;
		padding-top: 4px;
		font-size: 1.1em;
		text-align: left;
	}
	
	.msettings .txt-fld select ,.msettings .txt-fld input[type="text"] {
		width: 180px;
		padding: 4px 2px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		font-size: 1em;
		background: #F7F7F7;
		border:1px solid #cccccc;
		color:#999999;
    }
	
	.msettings .txt-fld input[name="numOfRows"]{
			float:left
	}
	.msettings .save-fld, .save-fld-settings, .save-basemap{
		padding: 8px 20px;
	}
	.save-fld input, .save-fld-settings input , .save-basemap input{
		padding: 2px 11px;
		color: #7D7D7D;
    }

	.msettings  .invertWrapper {
        height:20px;
    }

    .msettings #invertColorsLabel{
		font-size:10px;
		float:right;
        width:auto
    }
     
    .msettings #invertColors{
		float: right;
        width: 25px;
		margin-top: 8px;
    }

	
   /* General dropdown styles */      
    .dropdown { 
	     margin-left: 100px;
    }   
	.dropdown dd, .dropdown dt, .dropdown ul { 
	    margin:0px;
	    padding: 0px; 
	    display: inline;
}
	
	/* DT styles for sliding doors */
	.dropdown dt > div{
		display: block; 
		border-radius: 4px;
		-moz-border-radius: 4px;
		font-size: 1em;
		background: #F7F7F7;
		border: 1px solid #cccccc; 
		width: 178px;
		height:20px;
		padding: 3px 2px;
		cursor:pointer; 
		 display:block;
	}

	/* UL styles */
	.dropdown .palette { 
       	 display:none;
		 list-style:none; 
		 position:absolute; 
		 width: auto;;
	}
	.dropdown dd ul li { 
	    margin:4px 0
	}
	.dropdown span.value { 
	    display:none;
	}
	.dropdown dd ul li a { 
	    display: block;
    }
  
    .palette {
	  cursor: pointer;
	  display: inline-block;
	  vertical-align: bottom;
	  padding: 2px 0;
	  background: #fff;
	  border: solid 1px #aaa;
	  height: 140px;
	  overflow-y: scroll;
	  z-index:9999;
	}
	
	.palette div {
	    height:20px;
		z-index:9999;
		display:block
	}

	.swatch {
		display: block;
		width: 18px;
		height: 20px;
		float: left;
		margin: 1px 0;
	}  
    
	#defaultColor {
		width:162px;
		background-color:rgb(217, 240, 163)
	}
	 
    .dropDownArrow{
		background: url(../images/arrow.jpg) no-repeat;
		width: 9px;
		height: 10px;
		float: right;
		margin-top: 5px;
	}
  
  /*
   * Tiled geojson dialog hover
   */ 
 
    #tooltip{
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
		position:absolute;
		padding:5px 10px;
		display:block;
    }
	
	#tooltip #geoname{
		position:relative;
	}

 /*
  *
  *  Disease Submission
  *
  *
  */
#buttons{
    height:20%;
 }

 #buttons>div {
    float:left;
    width:100%;
 
 }

#buttons .geoDrops{	
     margin-top:2%;
}

#buttons .geoDrops>div{
    float: left;
    margin-top: 10px;
    font-size: 11px;
    width: 22%;
    margin-right: 3%;
}

#buttons .geoDrops>div select{
     margin:0;
}

#buttons .geoDrops>div span {
     text-transform:uppercase
}

.geoDrops input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}

#studyName{
  margin-left:3%;
}

.styleUnderline input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #CAE1FF;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  background-color: #F0F8FF;
}
.styleUnderline input[type="text"]:focus, .style-4 input[type="text"].focus {
  border-bottom: solid 2px #63B8FF;
}
.geoDrops input[type="text"]:focus {
  outline: none;
}

.geoDrops input:-ms-input-placeholder {
   color:#ccc;
}

.geoDrops  input::-webkit-input-placeholder {
   color:#ccc;
}

.geoDrops  input:-moz-placeholder {
   color:#ccc;
}

/* firefox 19+ */
.geoDrops input::-moz-placeholder {
   color:#ccc;
}

#studyArea{
  margin-left:1%;    
}

#content>div.blocks {
  float:left;
  width: 23%;
  margin-right:1%;       
  height:60%;  
  background: none repeat scroll 0 0 rgba(180, 238, 180, 0.4);     
  -webkit-border-radius: 35px 35px 20px 20px;
  -moz-border-radius: 35px 35px 20px 20px;
  border-radius: 35px 35px 20px 20px;
  border:1px solid #F2F2F2 ;
  text-align: center;  
}

#content>div.blocks:hover {
    cursor:pointer;       
    -webkit-box-shadow: #F2F2F2 3px 3px 3px;
    -moz-box-shadow: #F2F2F2 3px 3px 3px;
    box-shadow: #F2F2F2 3px 3px 3px;  
    border:1px solid #CDCDC1;
    background: none repeat scroll 0 0 rgba(180, 238, 180, 1); 
}

.headerBlock {
   height:20%;
   border-bottom:1px solid #F2F2F2; 
   color:#C1CDC1;    
}

.headerBlock h1 {
    font-size: 16px;
    padding-top: 8%;
}

.summary {
    width: 100%;
    height:77%;
    text-align: center;
    background-color: white;
}

.summary h2 {
    font-size:14px;
    padding: 10px 0;
}

.summary div {
    height:90%;
}

.summary div ul li{
    border-bottom:1px solid #F2F2F2 ;
    padding:2px 0 ;
    font-size:11px;
    
}

#run{
   float:right;
   margin-right:4%;
   margin-top:3%;    
}

#runButton{
   background: none repeat scroll 0 0 rgba(155,205,155, 0.4); 
   -webkit-border-radius: 50px 50px 50px 50px;
   -moz-border-radius:50px 50px 50px 50px;
   border-radius: 50px 50px 50px 50px;
   width:100px;
   padding:40% 0;
   text-align: center;
   color:white;    
}

#runButton:hover{
   cursor:pointer;
   background: none repeat scroll 0 0 rgba(155,205,155, 1); 
}
	