#distHisto .bar rect {
  fill: #B0C4DE;
  shape-rendering: crispEdges;
}

#distHisto .bar text {
  fill: #fff;
  font-size:10px
}

#distHisto .axis path, .axis line {
  fill: none;
  stroke: #E3E3E3;
  shape-rendering: crispEdges;
}

#distHisto .tick text {
	fill: #8F8F8F;
}