#rr_chart .axis path,
#rr_chart  .axis line {
  fill: none;
  stroke: #C1C1C1;
  shape-rendering: crispEdges;
}

#rr_chart g.y text{
	text-transform:uppercase;
	font-size: 12px;
	fill: rgb(145, 145, 145);
	font-weight:600;
}

#rr_chart  .axis .tick{
	 fill: #919191;
}

#rr_chart  .x.axis path {
  display: none;
}

#rr_chart  .area {
  fill: #8DB6CD;
}
 
 
 .line {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
}

.brush .extent {
stroke: #fff;
fill-opacity: .125;
shape-rendering: crispEdges;
}