svg.areaCharts {
	font-size: 10px;
	margin-top:20px;
	text-transform:uppercase
}
svg.areaCharts path {
	opacity:0.5
}

 text.country-title {
	font-size: 10px;
	fill: rgb(145, 145, 145);
	font-weight:600;
}

text.instructions {
	font-size: 16px;
}
svg.areaCharts .axis .tick {
	fill: #919191;
}

g.context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}

g.context g.axis path {
	stroke-opacity: 0;
}

g.context g.axis line {
	stroke-opacity: .1;
}

g path.unadj {
	fill: rgba(101, 153, 255,.5);
}

g path.adj {
	fill: rgba(9, 112, 84,.5);
}

g path.unadj:hover {
	fill: rgba(101, 153, 255,1);
}

g path.adj:hover {
	fill: rgba(9, 112, 84,1);
}
/*
g.rr_adj path.chart {
	fill: rgba(127,201,174,0.6);
}

g.smrr_unadj path.chart {
	fill: rgba(127,183,201,0.6);
}

g.smrr_adj path.chart {
	fill: rgba(127,130,201,0.6);
}

g.bym_ssrr_unadj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.het_ssrr_unadj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.car_ssrr_unadj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.bym_ssrr_adj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.het_ssrr_adj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.car_ssrr_adj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.bym_rr_unadj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.het_rr_unadj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.car_rr_unadj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.bym_rr_adj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.het_rr_adj path.chart {
	fill: rgba(171,127,201,0.6);
}

g.car_rr_adj path.chart {
	fill: rgba(171,127,201,0.6);
}
*/
svg.areaCharts .axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

svg.areaCharts .brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

svg.areaCharts g.context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}​