<!--
/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */
-->

<!--
HTML partial disease mapping
-->

<div id="navigation">
    <div class='logOutUsername' ng-controller="TabCtrl"> 
        <span class="userName"> {{username}} </span><span id="logOut" ng-click="logout()" > log out </span>
    </div>
    <div class='nav'>
        <a ui-sref="state3" ng-class="{active: $state.includes('state3')}">Disease Mapping </a>
        <a ui-sref="state2" ng-class="{active: $state.includes('state2')}">Data Viewer </a>
        <a ui-sref="state1" ng-class="{active: $state.includes('state1')}">Study Submission</a>
    </div>
</div>

<div id="buttons">
    <div id='left'>
        <div class='geoDropsMapping'>
            <div class="mappingPageLabel">LEFT DISPLAY</div>
            <div>
                <div>Study:</div>
                <select ng-change='child.updateSex("diseasemap1")' id='studySelect' ng-model='studyID["diseasemap1"]' ng-options='(s.study_id +   ": " +   s.name) for s in child.studyIDs'> 
                </select>             
            </div>
            <div>
                <div>Sex:</div>      
                <select ng-change='child.updateStudy("diseasemap1")' id='optionsSelect' ng-model="sex['diseasemap1']" ng-options="s for s in child.sexes['diseasemap1']">
                </select>
            </div>
        </div>
    </div>
    <div id='right'>
        <div class='geoDropsMapping'>
            <div class="mappingPageLabel">RIGHT DISPLAY</div>
            <div>
                <div>Study:</div>
                <select ng-change='child.updateSex("diseasemap2")' id='studySelect' ng-model='studyID["diseasemap2"]' ng-options='(s.study_id +   ": " +   s.name) for s in child.studyIDs'> 
                </select>             
            </div>
            <div>
                <div>Sex:</div>      
                <select ng-change='child.updateStudy("diseasemap2")' id='optionsSelect' ng-model="sex['diseasemap2']" ng-options="s for s in child.sexes['diseasemap2']">
                </select>
            </div>
        </div>
    </div>        
</div>

<div ng-controller="leafletLayersCtrl" ui-layout="{flow : 'column'}">
    <div ui-layout-container ui-layout-loaded id="vSplit1" max-size="100%" size="{{vSplit1}}%"> 
        <div ui-layout="{flow : 'row'}">
            <div ui-layout-container class="leaflet-box" id="hSplit1" max-size="100%" size="{{hSplit1}}%">
                <div class="submenuMapping" >
                    <ul class="mapBoxOpts">
                        <li><a ng-controller="ChoroplethModalCtrl" ng-click="open('diseasemap1')" id="choroplethBtn" title="Choropleth map"></a></li>
                        <li><a ng-controller="BaseMapModalCtrl" ng-click="open('diseasemap1')" id="baseMapBtn" title="Base map"></a></li>
                        <li><a id="clearSelection" title="Clear selection" clear-array-selection mapid="diseasemap1"></a></li>
                        <li><a id="zoomExtent" title="Zoom to full extent" zoom-extent mapid="diseasemap1"></a></li>
                        <li><a id="zoomStudy" title="Zoom to study extent" zoom-study mapid="diseasemap1"></a></li>
                        <li><a id="zoomSelection" title="Zoom to selected" zoom-selection-single mapid="diseasemap1"></a></li>
                        <li><a id="exportMap" title="Quick export map" leaflet-to-png mapid="diseasemap1"></a></li>
                        <li><a id="exportD3" title="Quick export chart" saved3-chart mapid="diseasemap1"></a></li>
                        <li>
                            <input type="range" ng-model ="transparency['diseasemap1']" min="0" max="1" step="0.01" value ="0.7" change-opacity mapid="diseasemap1"/>
                        </li>  
                        <li><a id="copySymbology" title="Copy symbology" ng-click="copySymbology()"></a></li>                                                 
                        <li>
                            <div ng-switch on=bLockCenters>
                                <a ng-click="lockExtent()" title="Unlock map extents" id='lockExtentTrue' ng-switch-when="true"></a>
                                <a ng-click="lockExtent()" title="Lock map extents" id='lockExtentFalse' ng-switch-when="false"></a>
                            </div>
                        </li>
                        <li>
                            <div ng-switch on=bLockSelect>
                                <a ng-click="lockSelect()" title="Unlock selection" id='lockSelectTrue' ng-switch-when="true"></a>
                                <a ng-click="lockSelect()" title="Lock selection" id='lockSelectFalse' ng-switch-when="false"></a>
                            </div>
                        </li>
                    </ul>                 
                </div>                     
                <leaflet id="diseasemap1" tiles="thisLayer[diseasemap1]" width="100%" height="calc(100% - 40px)" lf-center="center1"></leaflet>  
            </div>
            <div ui-layout-container class="rr-back" id="rr1" max-size="100%">            
                <!--d3 RR chart1 and table data -->
                <rr-zoom id="rrMap1" chart-data="rrChartData['diseasemap1']" options="optionsRR['diseasemap1']" width="currentWidth1" height="currentHeight1"></rr-zoom>           
            </div>
        </div>
    </div>
    <div ui-layout-container ui-layout-loaded> 
        <div ui-layout="{flow : 'row'}">
            <div ui-layout-container class="leaflet-box" id="hSplit2" max-size="100%" size="{{hSplit2}}%">            
                <div class="submenuMapping" >
                    <ul class="mapBoxOpts">
                        <li><a ng-controller="ChoroplethModalCtrl" ng-click="open('diseasemap2')" id="choroplethBtn" title="Choropleth map"></a></li>
                        <li><a ng-controller="BaseMapModalCtrl" ng-click="open('diseasemap2')"  id="baseMapBtn" title="Base map"></a></li>	
                        <li><a id="clearSelection" title="Clear selection" clear-array-selection mapid="diseasemap2"></a></li>                       
                        <li><a id="zoomExtent" title="Zoom to full extent" zoom-extent mapid="diseasemap2"></a></li>
                        <li><a id="zoomStudy" title="Zoom to study extent" zoom-study mapid="diseasemap2"></a></li>
                        <li><a id="zoomSelection" title="Zoom to selected" zoom-selection-single mapid="diseasemap2"></a></li> 
                        <li><a id="exportMap" title="Quick export map" leaflet-to-png mapid="diseasemap2"></a></li>
                        <li><a id="exportD3" title="Quick export chart" saved3-chart mapid="diseasemap2"></a></li>
                        <li>
                            <input type="range" ng-model ="transparency['diseasemap2']" min="0" max="1" step="0.01" value ="0.7" change-opacity mapid="diseasemap2"/>
                        </li>
                    </ul>                 
                </div>
                <leaflet id="diseasemap2" tiles="thisLayer[diseasemap2]" width="100%" height="calc(100% - 40px)" lf-center="center2"></leaflet>  
            </div>
            <div ui-layout-container class="rr-back" id="rr2" max-size="100%">            
                <!--d3 RR chart2 and table data -->
                <rr-zoom id="rrMap2" chart-data="rrChartData['diseasemap2']" options="optionsRR['diseasemap2']" width="currentWidth2" height="currentHeight2"></rr-zoom>    
            </div>
        </div>
    </div>
</div>