#
# Local Makefile overrides - example
#
PGDATABASE=sahsuland_dev
PGHOST=localhost
DEFAULT_VERBOSITY=terse
DEFAULT_DEBUG_LEVEL=0
DEFAULT_ECHO=none
DEFAULT_PSQL_USER=rif40
DEFAULT_ENCRYPTED_POSTGRES_PASSWORD=md57d50cade66c8b224d1fbd91805cbf442
DEFAULT_USE_PLR=N
DEFAULT_CREATE_SAHSULAND_ONLY=N
#
# Eof