/* Elements */

ADDRESS, BLOCKQUOTE, BODY, CAPTION, CENTER, DD, DIR, DIV, DL, DT, FORM, H1, H2, H3, H4, H5, H6, MENU, OL, P, TD, TH, UL {font: normal 1em/1.2 Helvetica, Tahoma, Verdana, Arial, Geneva, Helvetica, sans-serif}

BODY {background-color: #FFFFF1;
font-size: .8em;
margin: 0px}

FORM {margin: 0px}

DIV, TABLE, TD {font-size: 1em}

TABLE {margin: 0px 0px .75em 0px;
border: 0px solid #C1C8B2;}

TH {font-weight: bold;
text-align: left;
vertical-align: top;
border: 0px solid #3E4A26;
padding: 2px;
background-color: #FFFFFF;
color: #000000}

TD {text-align: left;
vertical-align: top;
border: 0px solid #C1C8B2;
padding: 5px;}

TD.blank {background-color: #F1EEEE}

H1, H2, H3, H4 {margin: 1em 0% .25em 0%;
font-weight: bold}

H1 {font-size: 1.6em}

H2 {font-size: 1.3em}

H3 {font-size: 1.0em}

H4 {font-size: .85em}

P {margin: 0px 0px .75em 0px;
line-height: 1.2}

UL {line-height: 1.3;
margin-bottom: 2em}

SUP {line-height: .7;
font-size: 0.9em}

IMG {margin: 0px;
border: 0px none}

SELECT {font-size: 1em}

A {}

BLOCKQUOTE {margin: 1em 0px 1em 3em}


CODE {
	font-size:60%
    line-height: 1.1em;
}

/* Classes */

A:link, A:visited, A:active , A:hover  {background: transparent;
text-decoration: underline}

A:link, A:visited {color: #009}

A:active, A:hover {color: #C00}

A.leftMenu:link, A.leftMenu:visited, A.leftMenu:active, A.leftMenu:hover {font-size: 1em;
font-weight: bold;
text-decoration: none;
padding: 1px;
width: 110px}

A.leftMenu:link, A.leftMenu:visited {border: 1px solid #3E4A26;
background-color: #3E4A26;
color: #FFF}

A.leftMenu:active, A.leftMenu:hover {border: 1px solid #000;
background-color: #CCD3BE;
color: #000}

.xlargeText {font-size: 1.6em}

.largeText {font-size: 1.3em}

.smallText {font-size: 0.85em}

.clearLeft {clear: left}

.clearRight {clear: right}

.flatSpacerDiv {height: 1px;
font-size: 1px}



<style>
header {
    background-color:#b9cde5;
     color: #b9cde5;
    text-align:center;
     padding:5px; 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
     height:3000px;
    width:200px;
    float:left;
     padding:5px;           
}

nav.sideBarMenu li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

section {
    width:800px;
    float:left;
     padding:10px; 
}
footer {
     background-color:black;
    color:white;
    clear:both;
     text-align:center;
     padding:5px; 
} 

	.clear
	{	clear: both;
		overflow: hidden;
		height: 0}

#rif
{	margin: 0;
	padding: 10}

	#rif li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial}

	#rif li a
	{	display: block;
		background: #324143;
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		width: 100px;
		color: #EAFFED;
		white-space: nowrap}

	#rif li a:hover
	{	background: #24313C}
		
		#rif li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white}
		
			#rif li ul li
			{	float: none;
				display: inline}
			
			#rif li ul li a
			{	width: auto;
				background: #A9C251;
				color: #24313C}
			
			#rif li ul li a:hover
			{	background: #8EA344}




</style>
