<!-- 
HTML partial for ui-router
Disease submission modal study areas (tree #1)
-->
<div class="modal-body" ng-controller="ModalStudyAreaCtrl">
    <div class="msettings">
        <div class="msettings-ct">
            <div class="msettings-header">
                <h2>Study area</h2>
                <a class="modal_close" ng-click="close()"></a>
            </div>
            <div class='modalContainer areasSelectionDialog'>

                <submission-map-table></submission-map-table>

                <div class='done' ng-click="submit()"><a>Done</a>
                </div>
            </div>
        </div>
    </div>
</div>