<!-- 
PARTIAL for maptable directive in disease submission
Used in Study Area and Comparison Area Modals, each with own respective controller
Used by rifd-dsub-maptable.js
!refresh is a hack to ensure the table redraws itself
-->
<div class='modalAreaSelectionMenu'>
    <div id='selectAtSelection' class='styleUnderline dropdowns availablesWrapper'>
        <select type="text" ng-model="input.studyResolution" id='selectAt' class='dropdownSelect' ng-options="l for l in geoLevelsViews"></select>
        <div class="dropDownLabel">Resolution of Results</div>
        <div id='selectAtAvailable' class='availables'></div>
    </div>
    <div id='resolutionSelection' class="styleUnderline dropdowns availablesWrapper">
        <select type="text" ng-model="input.selectAt" id='resolution' class='dropdownSelect' ng-options="l for l in geoLevels" ng-change="geoLevelChange()"></select>
        <div class="dropDownLabel">Selection Resolution</div>
        <div id='resolutionAvailable' class='availables'></div>
    </div>
</div>      
<button class="mapListButton" ng-click="openFromList()">Upload from List</button>
<div class='modalAreaSelectionContent'>
    <div ng-if="!refresh" class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns></div>
    <div id='areaSelectionMap'>
        <div class="submenuMapping" >
            <ul class="mapBoxOpts">
                <li><a ng-controller="BaseMapModalCtrl" ng-click="open('area')" id="baseMapBtn" title="Base map"></a></li>
                <li><a id="selectAll" title="Select all" ng-click="selectAll()"></a></li>
                <li><a id="clearSelection" title="Clear selection" ng-click="clear()"></a></li>
                <li><a id="clearByBand" title="Clear band" ng-click="clearBand()"></a></li>
                <li><a id="zoomExtent" title="Zoom to extent" ng-click="zoomToExtent()"></a></li>
                <li><a id="showCentroids" title="Show/hide centroids" ng-click="showCentroids()"></a></li>               
                <li><a id="addAOI" title="Select by AOI layer" ng-click="addAOI()"></a></li>      
                <li><a id="removeAOI" title="Clear AOI layer" ng-click="clearAOI()"></a></li>    
                <li><a id="exportMap" title="Quick export map" ng-click="saveLeaflet()"></a></li>        
                <li>
                    <input type="range" ng-model ="transparency" min="0" max="1" step="0.01" value ="0.7" ng-change="changeOpacity()"/>
                </li>
                <li>
                    <label>Band number</label>
                </li>
                <li>
                    <select id="selectbands" class="dropdownBand" ng-options="n for n in possibleBands" 
                            ng-model="currentBand" ng-init="currentBand">
                    </select>   
                </li>

            </ul>                 
        </div>    
        <leaflet id= "area" tiles="tiles" width="100%" height="100%" geojson="geojson"></leaflet>      
    </div>  

    <div id='mapSelectionCounter' class='mapCounter'>
        <span id='resolutionCount' class='counter'> {{thisPolygon}}  </span> 
    </div>
    <div id='comparisonSelectionCounter' class='tableCounter'>
        <span id='comparisonResolutionCount' class='counter'> {{selectedPolygonCount}} / {{totalPolygonCount}} </span>
        <span id="comparisonResolutionCountLabel">  </span>
        <span> areas selected </span>
    </div>
</div>