<!-- 
HTML partial for ui-router
Disease submission main 'trees' menu
-->
<div id="navigation">
    <div class='logOutUsername' ng-controller="TabCtrl"> 
        <span class="userName"> {{username}} </span><span id="logOut" ng-click="logout()" > log out </span>
    </div>
    <div class='nav'>
        <a ui-sref="state4" ng-class="{active: $state.includes('state4')}">Status</a>
        <a ui-sref="state3" ng-class="{active: $state.includes('state3')}">Disease Mapping</a>
        <a ui-sref="state2" ng-class="{active: $state.includes('state2')}">Data Viewer</a>
        <a ui-sref="state1" ng-class="{active: $state.includes('state1')}">Disease Submission</a>
    </div>
</div>

<!-- 5 Submission drop downs-->
<div id="buttons" class='positioning'>
    <div class='geoDrops'>
        <div>
            <div  class='styleUnderline'>
                <input type="text" ng-model="studyName" placeholder = "my study name" id='studyName' class='dropdownSelectSingle' ng-change="studyNameChanged()">
                <div id='studyAvailables' class='availables' > </div>
                <div class="dropDownLabel">Study Name</div>
            </div>

        </div>
        <div>
            <div class='styleUnderline dropdowns availablesWrapper'>
                <select type="text" ng-model="healthTheme" id='healthTheme' class='dropdownSelect' ng-options="s.name for s in healthThemes" ng-change="healthThemeChange()">
                </select>
                <div id='healthThemeAvailables' class='availables'></div>
                <div class="dropDownLabel">Health Theme</div>
            </div>
        </div>
        <div>
            <div  class='styleUnderline dropdowns availablesWrapper'>
                <select type="text" ng-model="geography" id='geography' class='dropdownSelect' ng-options="s for s in geographies" ng-change="geographyChange()">
                </select>
                <div id='geographiesAvailables' class='availables'></div>
                <div class="dropDownLabel">Geography</div>
            </div>
        </div>
        <div>
            <div  class='styleUnderline dropdowns availablesWrapper'>
                <select type="text" ng-model="numerator" id='numerator' class='dropdownSelect' ng-options="s.numeratorTableName for s in fractions" ng-change="numeratorChange()">
                </select>
                <div id='numeratorAvailables' class='availables' ></div>
                <div class="dropDownLabel">Numerator</div>
            </div>
        </div>
        <div>
            <div  class='styleUnderline dropdowns availablesWrapper'>
                <input type="text" ng-model="denominator" id='denominator' class='dropdownSelectSingle' readonly>
                <div id='denominatorAvailables' class='availables' > </div>
                <div class="dropDownLabel">Denominator</div>
            </div>
        </div>
    </div>
</div>

<!-- Four Tree Icons-->
<div id="content">
    <!-- Study area block -->
    <div ng-switch on=tree id='studyArea' class='blocks' ng-controller="ModalStudyAreaCtrl">   
        <div class='headerBlock' ng-click="open()" ng-switch-when="false"></div>
        <div class='headerBlockActive' ng-click="open()" ng-switch-when="true"></div>
        <div class='summary bodyBlock'>
            Study Area
        </div>    
    </div>
    <!-- Comparison area block -->
    <div ng-switch on=tree id='comparisonArea' class='blocks' ng-controller="ModalComparisonAreaCtrl">      
        <div class='headerBlock' ng-click="open()" ng-switch-when="false"></div>
        <div class='headerBlockActive' ng-click="open()" ng-switch-when="true"></div>
        <div class='summary bodyBlock'>
            Comparison Area
        </div>  
    </div>
    <!-- Investigation parameter block -->
    <div ng-switch on=tree id='invParameters' class='blocks' ng-controller="ModalParametersCtrl">
        <div class='headerBlock' ng-click="open()" ng-switch-when="false"></div>
        <div class='headerBlockActive' ng-click="open()" ng-switch-when="true"></div>        
        <div class='summary bodyBlock'>
            Investigation parameters
        </div> 
    </div>
    <!-- Statistics block -->
    <div ng-switch on=tree id='statsParameters' class='blocks' ng-controller="ModalStatsCtrl">
        <div class='headerBlock' ng-click="open()" ng-switch-when="false"></div>
        <div class='headerBlockActive' ng-click="open()" ng-switch-when="true"></div>        
        <div class='summary bodyBlock'>
            statistical methods
        </div> 
    </div> 
</div>

<!-- Run and Retrieve buttons-->
<div class="subButtons">   
    <div id='saveButton' class='subButtonContainer'> 
        <div ng-controller="ModalRetrieveCtrl" id='retrieve' ng-click="open()">Save Study</div>
        <div ng-controller="ModalResetCtrl" id='resetStudy' ng-click="open()">Reset</div>     
    </div>  
    <div id='runButton' class='subButtonContainer'> 
        <div ng-controller="ModalRunCtrl" id='run' ng-click="open()">Run study</div>
        <div ng-controller="ModalRunFileCtrl" id='fromFile' ng-click="open()">Open from file</div>
    </div>  
    <div id='statusButton' class='subButtonContainer'> 
        <div ng-controller="ModalStatusCtrl" id='status' ng-click="open()">Status</div>
    </div>
</div>