<!-- 
HTML partial for ui-router
Disease submission modal investigation parameters (tree #3)
-->
<div class="modal-body" ng-controller="ModalParametersCtrl">
    <div class="msettings">
        <div class="msettings-ct">
            <div class="msettings-header">
                <h2>Investigation parameters</h2>
                <a class="modal_close" ng-click="close()"></a>
            </div>
            <div class='modalContainer'>
                <div ui-layout="{flow : 'column'}" >
                    <div ui-layout-container class="ICD-back" id="vSplit1" size="45%">
                        <div class="ICDsearchContainer">                         
                            <select ng-model="taxonomyScheme" type="text" class='ICDsearchDrop' ng-options="t for t in taxonomyServices" ng-change="taxonomySchemeChanged()"></select>                                                   
                            <input class='ICDsearchBox' ng-model="searchText" type="text" placeholder="Search name or description" ng-click="resetTextSearch()" ng-keypress="textKeyPress($event)"/>
                            <button class="ICDsearchButton" ng-click="searchDescription()">SEARCH</button>
                            <div class="counter">{{hitsCount}}</div>
                        </div>                     
                        <div class="ICgridContainer">
                            <div ui-grid="gridOptionsICD" ui-grid-auto-resize ui-grid-resize-columns class="grid-ICD" ng-grid="gridOptionsICD"></div>
                        </div>
                    </div>
                    <div ui-layout-container> 
                        <div ui-layout="{flow : 'row'}" >
                            <div ui-layout-container class="param-back" id ="hSplit1" size="50%">
                                <div id="parameterHeader">
                                    <div class='done' ng-click="addInvestigation()"> <a>Done</a></div> 
                                    <div id='clearParameters' ng-click="clearInvestigations()"> Clear </div>
                                </div>
                                <div id="parameterWrap">
                                    <div id="ParameterLeft">
                                        <div class='availablesWrapper'>                                            
                                            <input type="text" ng-model="title" id='invTitle' class='dropdownSelectSingleSmall'>                                                               
                                            <div class="dropdownSelectSmallLabel">Title</div>
                                        </div>
                                        <div class='availablesWrapper'>                                           
                                            <select type="text" ng-model="startYear" id='startYear' class='dropdownSelectSmall' ng-options="s for s in years" ng-change="yearsChanged()"></select>
                                            <div class="dropdownSelectSmallLabel">Start Year</div>
                                        </div>
                                        <div class='availablesWrapper'>
                                            <select type="text" ng-model="endYear" id='endYear' class='dropdownSelectSmall'  ng-options="s for s in years" ng-change="yearsChanged()"></select>
                                            <div class="dropdownSelectSmallLabel">End Year</div>
                                        </div>
                                        <div class='availablesWrapper'>
                                            <select type="text" ng-model="yearInterval" id='yearInterval' class='dropdownSelectSmall' ng-options="s for s in intervals"></select>
                                            <div class="dropdownSelectSmallLabel">Year Interval</div>
                                        </div>
                                    </div>                                    
                                    <div id="ParameterRight">
                                        <div class='availablesWrapper'>
                                            <select type="text" ng-model="sex" id='genderAvailable' class='dropdownSelectSmall' ng-options="g for g in sexes"></select>
                                            <div class="dropdownSelectSmallLabel">Sex</div>
                                        </div>
                                        <div class='availablesWrapper'>
                                            <select type="text" ng-model="covariate" id='covariates' class='dropdownSelectSmall' ng-options="g for g in covariates"></select>
                                            <div class="dropdownSelectSmallLabel">Covariate</div>
                                        </div>
                                        <div class='availablesWrapper'>
                                            <select type="text" ng-model="lowerAge" id='lowerAges' class='dropdownSelectSmall' ng-options="g for g in ages" ng-change="agesChanged()"></select>
                                            <div class="dropdownSelectSmallLabel">Lower Age Band</div>
                                        </div>
                                        <div class='availablesWrapper'>
                                            <select type="text" ng-model="upperAge" id='upperAges' class='dropdownSelectSmall' ng-options="g for g in ages" ng-change="agesChanged()"></select>
                                            <div class="dropdownSelectSmallLabel">Upper Age Band</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ui-layout-container class=" recap-back" >                
                                <div ui-grid="gridOptionsRecap" ui-grid-auto-resize ui-grid-resize-columns class="grid-recap" ng-grid="gridOptionsRecap"></div>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>