<!-- 
HTML partial for ui-router
Disease submission modal to retrieve study
-->
<div class="msettingsSmall" ng-controller="ModalRetrieveCtrl">
    <div class="msettings-ct">
        <div class="msettings-header">
            <h2>Save study</h2>
            <a class="modal_close" ng-click="close()"></a>
        </div>       
        <div class='modalContainer retrieveModalDialog'>
            <div class='retrieveMenu'>
                <div id='retrieveSelection' class='dropdowns availablesWrapper'>
                    <div id="resetLabel">Save study parameters</div>   
                    <div id='retrieveAvailable' class='availables'></div> 
                </div>
                <my-download get-data="getBlob()"/>
            </div>
        </div>
    </div>
</div>