<!--
/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */
-->

<!-- 
PARTIAL for maptable directive in disease submission
Used in Study Area and Comparison Area Modals, each with own respective controller
Used by rifd-dsub-maptable.js
!refresh is a hack to ensure the table redraws itself
-->

<div class='modalAreaSelectionMenu'>
    <div id = "maptableLeft">
        <button class="mapListButton" ng-click="openFromList()">Upload from List</button>
    </div>
    <div ng-show="input.showSwitch" id="maptableRight">
        <md-switch id="studySwitch" ng-model="input.type" ng-init="input.type" aria-label="Switch 2" ng-true-value="'Disease Mapping'" 
                   ng-false-value="'Risk Analysis'" class="md-warn" ng-change="studyTypeChanged()">
            {{input.type}}
        </md-switch>
    </div>
    <div id = "maptableDrop1">
        <select type="text" ng-model="input.studyResolution" id='selectAt' class='dropdownSelect' ng-options="l for l in geoLevelsViews"></select>
        <div class="dropDownLabel">Resolution of Results</div>
    </div>
    <div id = "maptableDrop2">
        <select type="text" ng-model="input.selectAt" id='resolution' class='dropdownSelect' ng-options="l for l in geoLevels" ng-change="geoLevelChange()"></select>
        <div class="dropDownLabel">Selection Resolution</div>
    </div>
</div>  

<div class='modalAreaSelectionContent'>
    <div ng-controller="MultiSelectCtrl">
        <div ng-if="!refresh" class="grid" ng-mouseleave="mouseleave($event)" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns></div>
    </div>
    <div id='areaSelectionMap'>
        <div class="submenuMapping" >
            <ul class="mapBoxOpts">
                <li><a ng-controller="BaseMapModalCtrl" ng-click="open('area')" id="baseMapBtn" title="Base map"></a></li>
                <li><a id="selectAll" title="Select all" ng-click="selectAll()"></a></li>
                <li><a id="clearSelection" title="Clear selection" ng-click="clear()"></a></li>
                <li><a id="clearByBand" title="Clear band" ng-click="clearBand()"></a></li>
                <li><a id="zoomExtent" title="Zoom to extent" ng-click="zoomToExtent()"></a></li>
                <li><a id="showCentroids" title="Show/hide centroids" ng-click="showCentroids()"></a></li>               
                <li><a id="addAOI" title="Select by AOI layer" ng-click="addAOI()"></a></li>      
                <li><a id="removeAOI" title="Clear AOI layer" ng-click="clearAOI()"></a></li>    
                <li><a id="exportMap" title="Quick export map" leaflet-to-png mapid="area"></a></li>
                <li>
                    <input type="range" ng-model="transparency" min="0" max="1" step="0.01" value ="0.7" ng-change="changeOpacity()"/>
                </li>
                <li>
                    <label>Band number</label>
                </li>
                <li>
                    <select id="selectbands" class="dropdownBand" ng-options="n for n in possibleBands" 
                            ng-model="currentBand" ng-init="currentBand">
                    </select>   
                </li>

            </ul>                 
        </div>    
        <leaflet id= "area" width="100%" height="100%" tiles="tiles" lf-center="input.center"></leaflet>    
    </div>  

    <div id='mapSelectionCounter' class='mapCounter'>
        <span id='resolutionCount' class='counter'> {{thisPolygon}} </span> 
    </div>
    <div id='comparisonSelectionCounter' class='tableCounter'>
        <span id='comparisonResolutionCount' class='counter'> {{selectedPolygonCount}} / {{totalPolygonCount}} </span>
        <span id="comparisonResolutionCountLabel">  </span>
        <span> areas selected </span>
    </div>
</div>