<!-- 
HTML partial for ui-router
Disease submission modal to run study from file
-->
<div class="msettingsSmall" ng-controller="ModalRunFileCtrl">
    <div class="msettings-ct">
        <div class="msettings-header">
            <h2>Open study from file</h2>
            <a class="modal_close" ng-click="close()"></a>
        </div>       
        <div class="txt-fld">
            <input on-read-file="showContent($fileContent)" type="file" name='open file' class='fileOpener' id="setUpFile" accept=".json" />
            <button  id='finalRunFromFile' class='myButton' ng-click="submit()"> OK </button>
        </div>
    </div>
</div>