<!-- 
HTML partial for ui-router
Disease submission modal stats (tree #4)
-->
<div class="msettings" ng-controller="ModalStatsCtrl">
    <div class="msettings-ct">
        <div class="msettings-header">
            <h2>Statistical Methods</h2>
            <a class="modal_close" ng-click="close()"></a>
        </div>       
        <div class = "statsInfo">
            <div class='done' style='' id='statDone' ng-click="submit()"><a>Done</a> </div>
            <h2>Default</h2>
            <p> Directly standardised rates, Relative risk ratios, Empirical Bayes </p>
        </div>
        <div id="modelsList" class = "statsInfo">
            <h2>Optional</h2>
            <div class="modelsAvailable">
                <div>
                    <input ng-model="input.checked" value="-1" type="radio" name="bayes" id="noMethod">
                    <label for="noMethod">No optional method</label>
                </div>
                <div ng-repeat="i in methods track by $index" ng-init="methodIndex = $index">
                    <input ng-model="input.checked" value="{{$index}}" type="radio" name="bayes" id="{{i.codeRoutineName}}">
                    <label for="{{i.codeRoutineName}}">{{i.codeRoutineName}}: {{i.description}}</label>
                    <div ng-repeat="j in i.parameterProxies track by $index" ng-init="proxyIndex = $index">
                        <input ng-model="input.model[methodIndex][proxyIndex]" type="number" id="{{methodIndex}}{{j.name}}"/>
                        <label for="{{methodIndex}}{{j.name}}">{{j.name}}</label><br>            
                    </div>
                </div>          
            </div>
            <a class = "statsManual" ng-click="openStatsManual()">Statistical Manual </a>
        </div>
    </div>       
</div>