<div class="msettings" ng-controller="BaseMapModalCtrl">
    <div class="msettings-ct">
        <div class="msettings-header">
            <h2>Base Map settings</h2>
            <a class="modal_close" ng-click="close()"></a>
        </div>
        <form>
            <div class="save-basemap">
                <input type="checkbox" name="basemap" ng-model="input.checkboxBaseMap" ng-change="setNoBaseMapCheck(input.checkboxBaseMap)"> 
                <label for = "nobasemap"> No basemap </label>
            </div>
            <div class="txt-fld" id="basemapselector">
                <label for="fldSlct">Base map provider</label>
                <select id='baseMapSlct' ng-model="input.selectedBaseMap" ng-change="setSelected(input.selectedBaseMap)" ng-init="input.selectedBaseMap">
                    <option ng-repeat="layer in myBaseMaps" value="{{layer}}" >     
                        {{layer}}
                    </option>
                </select>
            </div>
            <div class="save-basemap" id="savebasemap">
                <input ng-click="apply()" type="button" value="Apply">
            </div>
        </form>
    </div>
</div>