<div class="msettings" ng-controller="ChoroplethModalCtrl">
    <div class="msettings-ct">
        <div class="msettings-header">
            <h2> Choropleth map symbology </h2>
            <a class="modal_close" ng-click="close()"></a>
        </div>
        <form>
            <!--
            <div class="brewerswatch-ct">
                <span class="brewerswatch" ng-repeat="colour in selectedScheme" ng-style="{'background': colour, 'width': (360 / selectedN) + 'px'}"></span>
            </div>
            -->
            <div class="txt-fld">
                <label for="colourScale"> Colour scale:</label>
                <select ng-style="{'text-transform': 'none'}" id='colourScale' ng-options="s for s in input.mySchemes" ng-model="input.selectedSchemeName" ng-change="renderSwatch()"></select>
                <div class='invertWrapper'>
                    <input type="checkbox" name="inverter" id="invertColors" ng-model="input.checkboxInvert"> 
                    <label for = "invertColors" id="invertColorsLabel"> Invert </label>
                </div>
            </div>
            <div class="txt-fld">
                <label for="fieldToMap"> Field to Map:</label>
                <select ng-style="{'text-transform': 'none'}" id='fieldToMap' ng-options="s for s in input.features" ng-model="input.selectedFeature"></select>
            </div>
            <div class="txt-fld">
                <label for="intervals">Intervals:</label>
                <select id='intervals' ng-options="n for n in input.intervalRange" ng-model="input.selectedN" ng-init="input.selectedN" ng-change="renderSwatch()" ></select>
            </div>
            <div class="txt-fld">
                <label for="classification">Classification:</label>
                <select id='classification' ng-model="input.method" ng-change="renderSwatch()">
                    <option value='quantile'>Quantile</option>
                    <option value='quantize'>Equal</option>
                    <option value='jenks'>Jenks</option>
                    <option value='standardDeviation'> Standard Deviation</option>
                </select>
                <div class="editBreaks"><a href='#'> edit </a> </div>
                <div id="breaks"></div>
            </div>

            <div class="save-fld">
                <input type="button" value="Apply" ng-click="apply()">
            </div>
        </form>
    </div>
</div>
