<!-- 
HTML partial for ui-router
Viewer
-->
<div id="navigation">
    <div class='logOutUsername' ng-controller="TabCtrl"> 
        <span class="userName"> {{username}} </span><span id="logOut" ng-click="logout()" > log out </span>
    </div>
    <div class='nav'>
        <a ui-sref="state4" ng-class="{active: $state.includes('state4')}">Status</a>
        <a ui-sref="state3" ng-class="{active: $state.includes('state3')}">Disease Mapping </a>
        <a ui-sref="state2" ng-class="{active: $state.includes('state2')}">Data Viewer </a>
        <a ui-sref="state1" ng-class="{active: $state.includes('state1')}">Disease Submission</a>
    </div>
</div>

<div id="buttons">
    <div class='export'>
        <a href='#'>Export</a>
    </div>
    <div class='geoDropsMapping'>
        <div>
            <div id='geolevel'>
                <div>Geolevel:</div>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div id='dataSet'>
            <div>Data set:</div>
            <select>
                <option></option>
            </select>
        </div>
        <div id='zoomTo'>
            <div>Zoom to:</div>
            <select>
                <option></option>
            </select>
        </div>  
    </div>
</div>

<div ng-controller="ViewerCtrl2" ui-layout="{flow : 'column'}">
    <div id="qwerty" ui-layout-container size="{{size1}}"> 
        <div ui-layout="{flow : 'row'}">
            <div ui-layout-container class="js-back">                             
                ULSRR
            </div>
            <div ui-layout-container class="js-back" size="{{size2}}">
                POPULATION ng-controller="ViewerCtrl"
            </div>
        </div>
    </div>

    <div ui-layout-container> 
        <div ui-layout="{flow : 'row'}">
            <div ui-layout-container class="leaflet-box">            
                <div id="submenuMapping" >
                    <div>
                        <div class='mapOpts'>
                            <a ng-controller="ChoroplethModalCtrl" ng-click="open()"class='mapOpt' id="choroplethBtn" title="Choropleth map"></a>
                            <a ng-controller="BaseMapModalCtrl" ng-click="open('viewermap')" class='mapOpt' id="baseMapBtn" title="Base map"></a>	
                            <a class='mapOpt' id="clearSelection" title="Clear selection" ng-click="clear()"></a>   
                            <a class='mapOpt' id="zoomExtent" title="Zoom to extent" ng-click="zoomToExtent()"></a>  
                            <input type="range" ng-model ="transparency" min="0" max="1" step="0.01" value ="0.7" ng-change="changeOpacity()"/>
                        </div>

                        <a href='#' rel='leanModal' class='settings' title="Settings" id='settingsButton'>
                            <img src="images/settings.png" alt="settings">
                        </a>
                    </div>
                </div>    
                <leaflet id="viewermap" tiles="tiles" width="100%" height="calc(100% - 40px)"></leaflet>  
            </div>
            <div ui-layout-container class="js-back">
                <div ui-grid="viewerTableOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns class="grid-viewer" ng-grid="viewerTableOptions"></div>
            </div>
        </div>
    </div>
</div>

