USE [RIF40]
GO
/****** Object:  Table [dbo].[RIF40_COVARIATES]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RIF40_COVARIATES](
	[GEOGRAPHY] [varchar](50) NOT NULL,
	[GEOLEVEL_NAME] [varchar](30) NOT NULL,
	[COVARIATE_NAME] [varchar](30) NOT NULL,
	[MIN] [numeric](9, 3) NOT NULL,
	[MAX] [numeric](9, 3) NOT NULL,
	[TYPE] [numeric](9, 3) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [RIF40_COVARIATES_PK] PRIMARY KEY CLUSTERED 
(
	[GEOGRAPHY] ASC,
	[GEOLEVEL_NAME] ASC,
	[COVARIATE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RIF40_COVARIATES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_COVARIATES_GEOG_FK] FOREIGN KEY([GEOGRAPHY])
REFERENCES [dbo].[RIF40_GEOGRAPHIES] ([GEOGRAPHY])
GO
ALTER TABLE [dbo].[RIF40_COVARIATES] CHECK CONSTRAINT [RIF40_COVARIATES_GEOG_FK]
GO
ALTER TABLE [dbo].[RIF40_COVARIATES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_COVARIATES_GEOLEVEL_FK] FOREIGN KEY([GEOGRAPHY], [GEOLEVEL_NAME])
REFERENCES [dbo].[T_RIF40_GEOLEVELS] ([GEOGRAPHY], [GEOLEVEL_NAME])
GO
ALTER TABLE [dbo].[RIF40_COVARIATES] CHECK CONSTRAINT [RIF40_COVARIATES_GEOLEVEL_FK]
GO
ALTER TABLE [dbo].[RIF40_COVARIATES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_COVARIATES_LISTING_CK] CHECK  (([TYPE]=(2) OR [TYPE]=(1)))
GO
ALTER TABLE [dbo].[RIF40_COVARIATES] CHECK CONSTRAINT [RIF40_COVARIATES_LISTING_CK]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES.GEOGRAPHY' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES', @level2type=N'COLUMN',@level2name=N'GEOGRAPHY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES.GEOLEVEL_NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES', @level2type=N'COLUMN',@level2name=N'GEOLEVEL_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES.COVARIATE_NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES', @level2type=N'COLUMN',@level2name=N'COVARIATE_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES.MIN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES', @level2type=N'COLUMN',@level2name=N'MIN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES.MAX' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES', @level2type=N'COLUMN',@level2name=N'MAX'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES."TYPE"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES', @level2type=N'COLUMN',@level2name=N'TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES.RIF40_COVARIATES_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_COVARIATES_PK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_COVARIATES.RIF40_COVARIATES_LISTING_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_COVARIATES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_COVARIATES_LISTING_CK'
GO
