USE [RIF40]
GO
/****** Object:  Table [dbo].[RIF40_TABLE_OUTCOMES]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RIF40_TABLE_OUTCOMES](
	[OUTCOME_GROUP_NAME] [varchar](20) NOT NULL,
	[NUMER_TAB] [varchar](30) NOT NULL,
	[CURRENT_VERSION_START_YEAR] [numeric](4, 0) NULL,
 CONSTRAINT [RIF40_TABLE_OUTCOMES_PK] PRIMARY KEY CLUSTERED 
(
	[OUTCOME_GROUP_NAME] ASC,
	[NUMER_TAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RIF40_TABLE_OUTCOMES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_OUTCOME_NUMER_TAB_FK] FOREIGN KEY([NUMER_TAB])
REFERENCES [dbo].[RIF40_TABLES] ([TABLE_NAME])
GO
ALTER TABLE [dbo].[RIF40_TABLE_OUTCOMES] CHECK CONSTRAINT [RIF40_OUTCOME_NUMER_TAB_FK]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLE_OUTCOMES.OUTCOME_GROUP_NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLE_OUTCOMES', @level2type=N'COLUMN',@level2name=N'OUTCOME_GROUP_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLE_OUTCOMES.NUMER_TAB' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLE_OUTCOMES', @level2type=N'COLUMN',@level2name=N'NUMER_TAB'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLE_OUTCOMES.CURRENT_VERSION_START_YEAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLE_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_VERSION_START_YEAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLE_OUTCOMES' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLE_OUTCOMES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLE_OUTCOMES.RIF40_TABLE_OUTCOMES_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLE_OUTCOMES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TABLE_OUTCOMES_PK'
GO
