
<div id="navigation">
    <div class='logOutUsername' ng-controller="TabCtrl"> 
        <span class="userName"> {{username}} </span><span id="logOut" ng-click="logout()" > log out </span>
    </div>
    <div class='nav'>
        <a ui-sref="state4" ng-class="{active: $state.includes('state4')}">TEST </a>
        <a ui-sref="state3" ng-class="{active: $state.includes('state3')}">Disease Mapping </a>
        <a ui-sref="state2" ng-class="{active: $state.includes('state2')}">Data Viewer </a>
        <a ui-sref="state1" ng-class="{active: $state.includes('state1')}">Disease Submission</a>
    </div>
</div>



<div ui-layout="{flow : 'column'}">
    <div ui-layout-container ui-layout-loaded id="vSplit1" max-size="100%" size="50%"> 
        <div ui-layout="{flow : 'row'}">
            <div ui-layout-container class="leaflet-box" id="hSplit1" max-size="100%" size="70%">
                <div class="submenuMapping" >
                    <div>
                        <div class='mapOpts'>
                            <a ng-controller="ChoroplethModalCtrl" ng-click="open(0)"class='mapOpt' id="choroplethBtn" title="Choropleth map"></a>
                            <a ng-controller="BaseMapModalCtrl" ng-click="open('diseasemap1')" class='mapOpt' id="baseMapBtn" title="Base map"></a>	
                            <a class='mapOpt' id="clearSelection" title="Clear selection" ng-click="clear()"></a>   
                            <a class='mapOpt' id="zoomExtent" title="Zoom to extent" ng-click="zoomToExtent()"></a>  
                            <a class='mapOpt' id="zoomSelection" title="Zoom to selected" ng-click="zoomToSelected()"></a>  
                            <input type="range" ng-model ="transparency" min="0" max="1" step="0.01" value ="0.7" ng-change="changeOpacity()"/>
                        </div>
                        <div ng-switch on=bLockCenters>
                            <a class='mapOpt' ng-click="lockExtent()" title="Unlock map extents" id='lockExtentTrue' ng-switch-when="true"></a>
                            <a class='mapOpt' ng-click="lockExtent()" title="Lock map extents" id='lockExtentFalse' ng-switch-when="false"></a>
                        </div>
                    </div>
                </div>
                <leaflet id="diseasemap1" width="100%" height="calc(100% - 40px)" lf-center="center1"></leaflet>  
            </div>
            <div ui-layout-container id="hSplit3" max-size="100%">

                <!--d3 RR chart1 and table data 
                 <rr-zoom chart-data="ChartData1" options="optionsRR1" width="currentWidth1" height="currentHeight1"></rr-zoom>           
                -->
                
            </div>
        </div>
    </div>
    <div ui-layout-container ui-layout-loaded> 
        <div ui-layout="{flow : 'row'}">
            <div ui-layout-container class="leaflet-box" id="hSplit2" max-size="100%" size="70%">            
                <div class="submenuMapping" >
                    <div>
                        <div class='mapOpts'>
                            <a ng-controller="ChoroplethModalCtrl" ng-click="open(0)"class='mapOpt' id="choroplethBtn" title="Choropleth map"></a>
                            <a ng-controller="BaseMapModalCtrl" ng-click="open('diseasemap2')" class='mapOpt' id="baseMapBtn" title="Base map"></a>	
                            <a class='mapOpt' id="clearSelection" title="Clear selection" ng-click="clear()"></a>   
                            <a class='mapOpt' id="zoomExtent" title="Zoom to extent" ng-click="zoomToExtent()"></a>  
                            <a class='mapOpt' id="zoomSelection" title="Zoom to selected" ng-click="zoomToSelected()"></a>  
                            <input type="range" ng-model ="transparency" min="0" max="1" step="0.01" value ="0.7" ng-change="changeOpacity()"/>
                        </div>
                    </div>
                </div>
                <leaflet id="diseasemap2" width="100%" height="calc(100% - 40px)" lf-center="center2"></leaflet>  
            </div>
            <div ui-layout-container class="js-back">

                       <!--d3 RR chart2 and table data -->
                
                
                
            </div>
        </div>
    </div>
</div>








