USE [RIF40]
GO
/****** Object:  Table [dbo].[RIF40_TABLES]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RIF40_TABLES](
	[THEME] [varchar](30) NOT NULL,
	[TABLE_NAME] [varchar](30) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[YEAR_START] [numeric](4, 0) NOT NULL,
	[YEAR_STOP] [numeric](4, 0) NOT NULL,
	[TOTAL_FIELD] [varchar](30) NULL,
	[ISINDIRECTDENOMINATOR] [numeric](1, 0) NOT NULL,
	[ISDIRECTDENOMINATOR] [numeric](1, 0) NOT NULL,
	[ISNUMERATOR] [numeric](1, 0) NOT NULL,
	[AUTOMATIC] [numeric](1, 0) NOT NULL,
	[SEX_FIELD_NAME] [varchar](30) NULL,
	[AGE_GROUP_FIELD_NAME] [varchar](30) NULL,
	[AGE_SEX_GROUP_FIELD_NAME] [varchar](30) NULL,
	[AGE_GROUP_ID] [numeric](3, 0) NULL,
	[VALIDATION_DATE] [datetime2](0) NULL,
	[ROWID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [RIF40_TABLES_PK] PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RIF40_TABLES] ADD  DEFAULT ((0)) FOR [AUTOMATIC]
GO
ALTER TABLE [dbo].[RIF40_TABLES] ADD  DEFAULT ('AGE_SEX_GROUP') FOR [AGE_SEX_GROUP_FIELD_NAME]
GO
ALTER TABLE [dbo].[RIF40_TABLES] ADD  DEFAULT (newid()) FOR [ROWID]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TABLES_AGE_GROUP_ID_FK] FOREIGN KEY([AGE_GROUP_ID])
REFERENCES [dbo].[RIF40_AGE_GROUP_NAMES] ([AGE_GROUP_ID])
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TABLES_AGE_GROUP_ID_FK]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TABLES_THEME_FK] FOREIGN KEY([THEME])
REFERENCES [dbo].[RIF40_HEALTH_STUDY_THEMES] ([THEME])
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TABLES_THEME_FK]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TAB_ASG_CK] CHECK  (([AGE_SEX_GROUP_FIELD_NAME] IS NOT NULL AND [AGE_GROUP_FIELD_NAME] IS NULL AND [SEX_FIELD_NAME] IS NULL OR [AGE_SEX_GROUP_FIELD_NAME] IS NULL AND [AGE_GROUP_FIELD_NAME] IS NOT NULL AND [SEX_FIELD_NAME] IS NOT NULL))
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TAB_ASG_CK]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TAB_AUTOMATIC_CK] CHECK  (([AUTOMATIC]=(0) OR [AUTOMATIC]=(1) AND [ISNUMERATOR]=(1) OR [AUTOMATIC]=(1) AND [ISINDIRECTDENOMINATOR]=(1)))
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TAB_AUTOMATIC_CK]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TAB_EXCLUSIVE_CK] CHECK  (([ISNUMERATOR]=(1) AND [ISDIRECTDENOMINATOR]=(0) AND [ISINDIRECTDENOMINATOR]=(0) OR [ISNUMERATOR]=(0) AND [ISDIRECTDENOMINATOR]=(1) AND [ISINDIRECTDENOMINATOR]=(0) OR [ISNUMERATOR]=(0) AND [ISDIRECTDENOMINATOR]=(0) AND [ISINDIRECTDENOMINATOR]=(1)))
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TAB_EXCLUSIVE_CK]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TAB_ISDIRECTDENOM_CK] CHECK  (([ISDIRECTDENOMINATOR]=(1) OR [ISDIRECTDENOMINATOR]=(0)))
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TAB_ISDIRECTDENOM_CK]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TAB_ISINDIRECTDENOM_CK] CHECK  (([ISINDIRECTDENOMINATOR]=(1) OR [ISINDIRECTDENOMINATOR]=(0)))
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TAB_ISINDIRECTDENOM_CK]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TAB_ISNUMERATOR_CK] CHECK  (([ISNUMERATOR]=(1) OR [ISNUMERATOR]=(0)))
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TAB_ISNUMERATOR_CK]
GO
ALTER TABLE [dbo].[RIF40_TABLES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_TAB_YEARS_CK] CHECK  (([YEAR_START]<=[YEAR_STOP]))
GO
ALTER TABLE [dbo].[RIF40_TABLES] CHECK CONSTRAINT [RIF40_TAB_YEARS_CK]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.THEME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'THEME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.TABLE_NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'TABLE_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.DESCRIPTION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'DESCRIPTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.YEAR_START' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'YEAR_START'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.YEAR_STOP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'YEAR_STOP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.TOTAL_FIELD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'TOTAL_FIELD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.ISINDIRECTDENOMINATOR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'ISINDIRECTDENOMINATOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.ISDIRECTDENOMINATOR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'ISDIRECTDENOMINATOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.ISNUMERATOR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'ISNUMERATOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.AUTOMATIC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'AUTOMATIC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.SEX_FIELD_NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'SEX_FIELD_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.AGE_GROUP_FIELD_NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'AGE_GROUP_FIELD_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.AGE_SEX_GROUP_FIELD_NAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'AGE_SEX_GROUP_FIELD_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.AGE_GROUP_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'AGE_GROUP_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.VALIDATION_DATE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'COLUMN',@level2name=N'VALIDATION_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.RIF40_TABLES_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TABLES_PK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.RIF40_TAB_ASG_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TAB_ASG_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.RIF40_TAB_AUTOMATIC_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TAB_AUTOMATIC_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.RIF40_TAB_EXCLUSIVE_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TAB_EXCLUSIVE_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.RIF40_TAB_ISDIRECTDENOM_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TAB_ISDIRECTDENOM_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.RIF40_TAB_ISINDIRECTDENOM_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TAB_ISINDIRECTDENOM_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.RIF40_TAB_ISNUMERATOR_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TAB_ISNUMERATOR_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_TABLES.RIF40_TAB_YEARS_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_TABLES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_TAB_YEARS_CK'
GO
