USE [RIF40]
GO
/****** Object:  Table [dbo].[T_RIF40_NUM_DENOM]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_RIF40_NUM_DENOM](
	[GEOGRAPHY] [varchar](50) NOT NULL,
	[NUMERATOR_TABLE] [varchar](30) NOT NULL,
	[DENOMINATOR_TABLE] [varchar](30) NOT NULL,
 CONSTRAINT [T_RIF40_NUM_DENOM_PK] PRIMARY KEY CLUSTERED 
(
	[GEOGRAPHY] ASC,
	[NUMERATOR_TABLE] ASC,
	[DENOMINATOR_TABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[T_RIF40_NUM_DENOM]  WITH NOCHECK ADD  CONSTRAINT [T_RIF40_NUM_DENOM_DENOM_FK] FOREIGN KEY([DENOMINATOR_TABLE])
REFERENCES [dbo].[RIF40_TABLES] ([TABLE_NAME])
GO
ALTER TABLE [dbo].[T_RIF40_NUM_DENOM] CHECK CONSTRAINT [T_RIF40_NUM_DENOM_DENOM_FK]
GO
ALTER TABLE [dbo].[T_RIF40_NUM_DENOM]  WITH NOCHECK ADD  CONSTRAINT [T_RIF40_NUM_DENOM_GEOG_FK] FOREIGN KEY([GEOGRAPHY])
REFERENCES [dbo].[RIF40_GEOGRAPHIES] ([GEOGRAPHY])
GO
ALTER TABLE [dbo].[T_RIF40_NUM_DENOM] CHECK CONSTRAINT [T_RIF40_NUM_DENOM_GEOG_FK]
GO
ALTER TABLE [dbo].[T_RIF40_NUM_DENOM]  WITH NOCHECK ADD  CONSTRAINT [T_RIF40_NUM_DENOM_NUMER_FK] FOREIGN KEY([NUMERATOR_TABLE])
REFERENCES [dbo].[RIF40_TABLES] ([TABLE_NAME])
GO
ALTER TABLE [dbo].[T_RIF40_NUM_DENOM] CHECK CONSTRAINT [T_RIF40_NUM_DENOM_NUMER_FK]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_NUM_DENOM.GEOGRAPHY' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_NUM_DENOM', @level2type=N'COLUMN',@level2name=N'GEOGRAPHY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_NUM_DENOM.NUMERATOR_TABLE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_NUM_DENOM', @level2type=N'COLUMN',@level2name=N'NUMERATOR_TABLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_NUM_DENOM.DENOMINATOR_TABLE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_NUM_DENOM', @level2type=N'COLUMN',@level2name=N'DENOMINATOR_TABLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_NUM_DENOM' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_NUM_DENOM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_NUM_DENOM.T_RIF40_NUM_DENOM_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_NUM_DENOM', @level2type=N'CONSTRAINT',@level2name=N'T_RIF40_NUM_DENOM_PK'
GO
