USE [RIF40]
GO
/****** Object:  Table [dbo].[SAHSU_CEN_Level4]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAHSU_CEN_Level4](
	[WKT] [varchar](50) NULL,
	[PERIMETER] [varchar](50) NULL,
	[LEVEL4] [varchar](50) NULL,
	[LEVEL2] [varchar](50) NULL,
	[LEVEL1] [varchar](50) NULL,
	[LEVEL3] [varchar](50) NULL,
	[XCentroid] [varchar](50) NULL,
	[YCentroid] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
