USE [RIF40]
GO
/****** Object:  Table [dbo].[rif40_triggers]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rif40_triggers](
	[Column 0] [varchar](255) NULL,
	[Column 1] [varchar](255) NULL,
	[Column 2] [varchar](255) NULL,
	[Column 3] [varchar](255) NULL,
	[Column 4] [varchar](max) NULL,
	[Column 5] [varchar](255) NULL,
	[Column 6] [varchar](max) NULL,
	[Column 7] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
