USE [RIF40]
GO
/****** Object:  Table [dbo].[UK91_RIF_POP_ASG_1_ED91]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UK91_RIF_POP_ASG_1_ED91](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [int] NULL,
	[AGE_SEX_GROUP] [int] NULL
) ON [PRIMARY]

GO
