USE [RIF40]
GO
/****** Object:  Table [dbo].[RIF40_OUTCOMES]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RIF40_OUTCOMES](
	[OUTCOME_TYPE] [varchar](20) NOT NULL,
	[OUTCOME_DESCRIPTION] [varchar](250) NOT NULL,
	[CURRENT_VERSION] [varchar](20) NOT NULL,
	[CURRENT_SUB_VERSION] [varchar](20) NULL,
	[PREVIOUS_VERSION] [varchar](20) NULL,
	[PREVIOUS_SUB_VERSION] [varchar](20) NULL,
	[CURRENT_LOOKUP_TABLE] [varchar](30) NULL,
	[PREVIOUS_LOOKUP_TABLE] [varchar](30) NULL,
	[CURRENT_VALUE_1CHAR] [varchar](30) NULL,
	[CURRENT_VALUE_2CHAR] [varchar](30) NULL,
	[CURRENT_VALUE_3CHAR] [varchar](30) NULL,
	[CURRENT_VALUE_4CHAR] [varchar](30) NULL,
	[CURRENT_VALUE_5CHAR] [varchar](30) NULL,
	[CURRENT_DESCRIPTION_1CHAR] [varchar](250) NULL,
	[CURRENT_DESCRIPTION_2CHAR] [varchar](250) NULL,
	[CURRENT_DESCRIPTION_3CHAR] [varchar](250) NULL,
	[CURRENT_DESCRIPTION_4CHAR] [varchar](250) NULL,
	[CURRENT_DESCRIPTION_5CHAR] [varchar](250) NULL,
	[PREVIOUS_VALUE_1CHAR] [varchar](30) NULL,
	[PREVIOUS_VALUE_2CHAR] [varchar](30) NULL,
	[PREVIOUS_VALUE_3CHAR] [varchar](30) NULL,
	[PREVIOUS_VALUE_4CHAR] [varchar](30) NULL,
	[PREVIOUS_VALUE_5CHAR] [varchar](30) NULL,
	[PREVIOUS_DESCRIPTION_1CHAR] [varchar](250) NULL,
	[PREVIOUS_DESCRIPTION_2CHAR] [varchar](250) NULL,
	[PREVIOUS_DESCRIPTION_3CHAR] [varchar](250) NULL,
	[PREVIOUS_DESCRIPTION_4CHAR] [varchar](250) NULL,
	[PREVIOUS_DESCRIPTION_5CHAR] [varchar](250) NULL,
 CONSTRAINT [RIF40_OUTCOMES_PK] PRIMARY KEY CLUSTERED 
(
	[OUTCOME_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES]  WITH NOCHECK ADD  CONSTRAINT [CURRENT_LOOKUP_TABLE_CK] CHECK  (([CURRENT_LOOKUP_TABLE] IS NOT NULL AND [CURRENT_VERSION] IS NOT NULL AND ([CURRENT_VALUE_1CHAR] IS NOT NULL OR [CURRENT_VALUE_2CHAR] IS NOT NULL OR [CURRENT_VALUE_3CHAR] IS NOT NULL OR [CURRENT_VALUE_4CHAR] IS NOT NULL OR [CURRENT_VALUE_5CHAR] IS NOT NULL) OR [CURRENT_LOOKUP_TABLE] IS NULL))
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES] CHECK CONSTRAINT [CURRENT_LOOKUP_TABLE_CK]
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES]  WITH NOCHECK ADD  CONSTRAINT [CURRENT_VALUE_NCHAR_CK] CHECK  (([CURRENT_LOOKUP_TABLE] IS NOT NULL AND [CURRENT_VERSION] IS NOT NULL AND ([CURRENT_VALUE_1CHAR] IS NOT NULL AND [CURRENT_DESCRIPTION_1CHAR] IS NOT NULL OR [CURRENT_VALUE_2CHAR] IS NOT NULL AND [CURRENT_DESCRIPTION_2CHAR] IS NOT NULL OR [CURRENT_VALUE_3CHAR] IS NOT NULL AND [CURRENT_DESCRIPTION_3CHAR] IS NOT NULL OR [CURRENT_VALUE_4CHAR] IS NOT NULL AND [CURRENT_DESCRIPTION_4CHAR] IS NOT NULL OR [CURRENT_VALUE_5CHAR] IS NOT NULL AND [CURRENT_DESCRIPTION_5CHAR] IS NOT NULL) OR [CURRENT_LOOKUP_TABLE] IS NULL))
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES] CHECK CONSTRAINT [CURRENT_VALUE_NCHAR_CK]
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES]  WITH NOCHECK ADD  CONSTRAINT [OUTCOME_TYPE_CK1] CHECK  (([OUTCOME_TYPE]='BIRTHWEIGHT' OR [OUTCOME_TYPE]='OPCS' OR [OUTCOME_TYPE]='ICD-O' OR [OUTCOME_TYPE]='ICD' OR [OUTCOME_TYPE]='A&E'))
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES] CHECK CONSTRAINT [OUTCOME_TYPE_CK1]
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES]  WITH NOCHECK ADD  CONSTRAINT [PREVIOUS_LOOKUP_TABLE_CK] CHECK  (([PREVIOUS_LOOKUP_TABLE] IS NOT NULL AND [PREVIOUS_VERSION] IS NOT NULL AND ([PREVIOUS_VALUE_1CHAR] IS NOT NULL OR [PREVIOUS_VALUE_2CHAR] IS NOT NULL OR [PREVIOUS_VALUE_3CHAR] IS NOT NULL OR [PREVIOUS_VALUE_4CHAR] IS NOT NULL OR [PREVIOUS_VALUE_5CHAR] IS NOT NULL) OR [PREVIOUS_LOOKUP_TABLE] IS NULL AND [PREVIOUS_VERSION] IS NULL))
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES] CHECK CONSTRAINT [PREVIOUS_LOOKUP_TABLE_CK]
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES]  WITH NOCHECK ADD  CONSTRAINT [PREVIOUS_VALUE_NCHAR_CK] CHECK  (([PREVIOUS_LOOKUP_TABLE] IS NOT NULL AND ([PREVIOUS_VALUE_1CHAR] IS NOT NULL AND [PREVIOUS_DESCRIPTION_1CHAR] IS NOT NULL OR [PREVIOUS_VALUE_2CHAR] IS NOT NULL AND [PREVIOUS_DESCRIPTION_2CHAR] IS NOT NULL OR [PREVIOUS_VALUE_3CHAR] IS NOT NULL AND [PREVIOUS_DESCRIPTION_3CHAR] IS NOT NULL OR [PREVIOUS_VALUE_4CHAR] IS NOT NULL AND [PREVIOUS_DESCRIPTION_4CHAR] IS NOT NULL OR [PREVIOUS_VALUE_5CHAR] IS NOT NULL AND [PREVIOUS_DESCRIPTION_5CHAR] IS NOT NULL) OR [PREVIOUS_LOOKUP_TABLE] IS NULL AND [PREVIOUS_VERSION] IS NULL))
GO
ALTER TABLE [dbo].[RIF40_OUTCOMES] CHECK CONSTRAINT [PREVIOUS_VALUE_NCHAR_CK]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.OUTCOME_TYPE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'OUTCOME_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.OUTCOME_DESCRIPTION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'OUTCOME_DESCRIPTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_VERSION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_VERSION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_SUB_VERSION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_SUB_VERSION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_VERSION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_VERSION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_SUB_VERSION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_SUB_VERSION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_LOOKUP_TABLE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_LOOKUP_TABLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_LOOKUP_TABLE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_LOOKUP_TABLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_VALUE_1CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_VALUE_1CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_VALUE_2CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_VALUE_2CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_VALUE_3CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_VALUE_3CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_VALUE_4CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_VALUE_4CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_VALUE_5CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_VALUE_5CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_DESCRIPTION_1CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_DESCRIPTION_1CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_DESCRIPTION_2CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_DESCRIPTION_2CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_DESCRIPTION_3CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_DESCRIPTION_3CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_DESCRIPTION_4CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_DESCRIPTION_4CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_DESCRIPTION_5CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'CURRENT_DESCRIPTION_5CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_VALUE_1CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_VALUE_1CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_VALUE_2CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_VALUE_2CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_VALUE_3CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_VALUE_3CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_VALUE_4CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_VALUE_4CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_VALUE_5CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_VALUE_5CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_DESCRIPTION_1CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_DESCRIPTION_1CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_DESCRIPTION_2CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_DESCRIPTION_2CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_DESCRIPTION_3CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_DESCRIPTION_3CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_DESCRIPTION_4CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_DESCRIPTION_4CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_DESCRIPTION_5CHAR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'COLUMN',@level2name=N'PREVIOUS_DESCRIPTION_5CHAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.RIF40_OUTCOMES_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_OUTCOMES_PK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_LOOKUP_TABLE_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'CONSTRAINT',@level2name=N'CURRENT_LOOKUP_TABLE_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.CURRENT_VALUE_NCHAR_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'CONSTRAINT',@level2name=N'CURRENT_VALUE_NCHAR_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.OUTCOME_TYPE_CK1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'CONSTRAINT',@level2name=N'OUTCOME_TYPE_CK1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_LOOKUP_TABLE_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'CONSTRAINT',@level2name=N'PREVIOUS_LOOKUP_TABLE_CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_OUTCOMES.PREVIOUS_VALUE_NCHAR_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_OUTCOMES', @level2type=N'CONSTRAINT',@level2name=N'PREVIOUS_VALUE_NCHAR_CK'
GO
