USE [RIF40]
GO
/****** Object:  Table [dbo].[T_RIF40_INV_CONDITIONS]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_RIF40_INV_CONDITIONS](
	[INV_ID] [numeric](8, 0) NOT NULL,
	[STUDY_ID] [numeric](8, 0) NOT NULL,
	[USERNAME] [varchar](90) NOT NULL,
	[LINE_NUMBER] [numeric](5, 0) NOT NULL,
	[CONDITION] [varchar](4000) NOT NULL,
	[ROWID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [T_RIF40_INV_CONDITIONS_PK] PRIMARY KEY CLUSTERED 
(
	[STUDY_ID] ASC,
	[INV_ID] ASC,
	[LINE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[T_RIF40_INV_CONDITIONS] ADD  DEFAULT (user_name()) FOR [USERNAME]
GO
ALTER TABLE [dbo].[T_RIF40_INV_CONDITIONS] ADD  DEFAULT ((1)) FOR [LINE_NUMBER]
GO
ALTER TABLE [dbo].[T_RIF40_INV_CONDITIONS] ADD  DEFAULT ('1=1') FOR [CONDITION]
GO
ALTER TABLE [dbo].[T_RIF40_INV_CONDITIONS] ADD  DEFAULT (newid()) FOR [ROWID]
GO
ALTER TABLE [dbo].[T_RIF40_INV_CONDITIONS]  WITH NOCHECK ADD  CONSTRAINT [T_RIF40_INV_CONDITIONS_SI_FK] FOREIGN KEY([STUDY_ID], [INV_ID])
REFERENCES [dbo].[T_RIF40_INVESTIGATIONS] ([STUDY_ID], [INV_ID])
GO
ALTER TABLE [dbo].[T_RIF40_INV_CONDITIONS] CHECK CONSTRAINT [T_RIF40_INV_CONDITIONS_SI_FK]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_INV_CONDITIONS.INV_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_INV_CONDITIONS', @level2type=N'COLUMN',@level2name=N'INV_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_INV_CONDITIONS.STUDY_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_INV_CONDITIONS', @level2type=N'COLUMN',@level2name=N'STUDY_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_INV_CONDITIONS.USERNAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_INV_CONDITIONS', @level2type=N'COLUMN',@level2name=N'USERNAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_INV_CONDITIONS.LINE_NUMBER' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_INV_CONDITIONS', @level2type=N'COLUMN',@level2name=N'LINE_NUMBER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_INV_CONDITIONS.CONDITION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_INV_CONDITIONS', @level2type=N'COLUMN',@level2name=N'CONDITION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_INV_CONDITIONS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_INV_CONDITIONS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_INV_CONDITIONS.T_RIF40_INV_CONDITIONS_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_INV_CONDITIONS', @level2type=N'CONSTRAINT',@level2name=N'T_RIF40_INV_CONDITIONS_PK'
GO
