USE [RIF40]
GO
/****** Object:  Table [dbo].[RIF40_HEALTH_STUDY_THEMES]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RIF40_HEALTH_STUDY_THEMES](
	[THEME] [varchar](30) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
 CONSTRAINT [RIF40_HEALTH_STUDY_THEMES_PK] PRIMARY KEY CLUSTERED 
(
	[THEME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_HEALTH_STUDY_THEMES.THEME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_HEALTH_STUDY_THEMES', @level2type=N'COLUMN',@level2name=N'THEME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_HEALTH_STUDY_THEMES.DESCRIPTION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_HEALTH_STUDY_THEMES', @level2type=N'COLUMN',@level2name=N'DESCRIPTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_HEALTH_STUDY_THEMES' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_HEALTH_STUDY_THEMES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_HEALTH_STUDY_THEMES.RIF40_HEALTH_STUDY_THEMES_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_HEALTH_STUDY_THEMES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_HEALTH_STUDY_THEMES_PK'
GO
