/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */

/* RIF CSS FOR UI-LAYOUT*/

.ui-layout-column {
    position: absolute;
    top: 115px; 
    left: 0;
    right: 0;
    bottom: 0;
    overflow:hidden;
    border-top: 1px solid #E3E3E3;
}
.modal-dialog .ui-layout-column {
    border-top: none;
    overflow: hidden;
}

.leaflet-box {
    background : #fff;
    overflow: hidden;
}
.rr-back{
    background : #fff;
    overflow: hidden;
}
.js-back{
    background : #fff;
    overflow: hidden;
}
.glyphicon {
    font-family: none;
    color: transparent;
}
.ui-layout-row > .ui-splitbar {
    overflow: hidden;
}

.modal-dialog .ui-layout-column {
    position: absolute;
    top: 80px; 
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.ui-layout-row > .ui-splitbar {
    background-color: #f2f2f2;
}
.ui-layout-column > .ui-splitbar {
    background-color: #f2f2f2;
}

.ICD-back {
    overflow: hidden;
}
.ICD-back > div {
    margin-left: 4%;
    margin: 30px;
}
.param-back {
    overflow: hidden;
}

.recap-back {
    overflow: hidden;
}

/* Allow disabling of icons */
.ui-splitbar-icon {
    display: none;
}