/*
RIF D3
*/
/*D3 CSS*/
.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.svg-content-responsive2 {
    display: inline-block;
    position: absolute;
    left: 10px;
}

.y.axis path,
.x.axis path {
    fill: none; 
    stroke: #999999; 
    stroke-width: 2; 
    opacity: 0.3;
}

.area {
    fill: #B0C4DE;
}

.bar rect {
    fill: #a7c97f;
    stroke: white;
}

.tick {
    fill: #999999;
    font: 10px sans-serif;
}
.bar text {
    fill: #999999;
    font: 10px sans-serif;
}

.xlabel {
    text-transform: uppercase;
}



/*RR CHART*/

#rrchart g.y text{
    text-transform:uppercase;
    font-size: 12px;
    fill: rgb(145, 145, 145);
}

#rrchart .axis .tick{
    fill: #919191;
}

#rrchart .area {
    stroke: rgba(127,130,201,0.9);
    fill: #D9D9D9;
    stroke-width: 0.4;
}

.line {
    fill: none;
    stroke: rgba(127,130,201,0.9);
    stroke-width: 1.5px;
}

#refLine {
    fill: none;
    stroke: #ADD8E6;
    stroke-width: 1.5px;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.bivariateHiglighter {
    stroke: #EEA9B8;
    fill:#EEA9B8;    
    stroke-width: 2;
}
#lineBivariatesvg text {
    fill: #919191;
}
.currentFiguresLineBivariate {
    font-weight: 600;
    font-size:11px;
    fill: #777777;
}
#labelLineBivariate {
    text-transform:uppercase;
    font-size: 11px;   
    fill: #777777;
}

g.context g.brush rect.background {
    fill: rgba(0,0,0,.1);
}

g.context g.axis path {
    stroke-opacity: 0;
}

g.context g.axis line {
    stroke-opacity: .1;
}

g path.areaChart1 {
    fill: #7f82c9;
}

g path.areaChart2 {
    fill: #c97f82;
}

g path.areaChart3 {
    fill: #82c97f;
}

g path.areaChart4 {
    fill: #c9c67f;
}

svg.areaCharts .axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

svg.areaCharts .brush .extent {
    stroke: #f09f8c;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

svg.areaCharts g.context rect.background{
    visibility: visible !important;
}

/*area plots*/
.selection {
    fill: #325e82;
}

/*POP PYRAMID*/
.femaleBarLabel {
    font: 14px sans-serif;
    font-weight : bold;
    fill : "green";	
    text-anchor : "middle";		
}

.maleBarLabel {
    font: 14px sans-serif;
    font-weight : bold;
    fill : "black";	
    text-anchor : "middle";		
}

.maleBar {
    height : 70;
    fill : #c97f82;
    stroke: black;
    stroke-width : 0;
}

.totalPopulationBar {
    height : 70;
    fill : none;
    stroke: lightgray;
    stroke-width : 1;
}

.xAxisDashedLines {
    stroke: gray;
    stroke-width : 1;
    stroke-dasharray : 5, 5;    		
}

.femaleBar {
    height : 70;
    fill : #7f82c9;
    stroke: black;
    stroke-width : 0;
}

/*MAPPING 2*/
.zoom {
    cursor: crosshair;
    fill: none;
    pointer-events: all;
}

.focusBackground {
    fill: none;
    opacity: 0.4;
}

.mask {
    z-index: 999999999999;
}

.prob1 {
    fill: #91cf60;
    opacity: 0.2;
}
.prob2 {
    fill: none;
    opacity: 0.2;
}
.prob3 {
    fill: #fc8d59;
    opacity: 0.2;
}