#databaseSelect {
    width: 170px; 
}
#databaseSelect-button {
	vertical-align : middle;
}
#geographySelect {
	float: right;
    width: 600px; 
}
#geographySelect-button {
	vertical-align: middle;
}
#geographyLabel {
	float: right;
}