html {
  height: 98%;
/*  overflow: hidden; */
}
body {
  min-height: 98%;
}
#tilemaker {
  height: 98%;
}
#shapeFileSelectortab {
/*    background-color:#eeeeee; */
	width: 100%;
    float: left;
    padding-left:5px; 
    padding-right:5px; 
}
#shapeFileStatus {
	width: 99%;
    float: left;
	vertical-align: bottom;
	border-style: outset;	
	border-radius: 12px;
}
#statustab {
/*    background-color:#eeeeee; */
    height: 98%;
	width: 98%;
}
#status {
	width: 99%;
    float: left;
	vertical-align: top;
	border-style: outset;	
	border-radius: 12px;
	overflow: scroll;
}
#maptab {
/*    background-color:#eeeeee; */
    float: right;
	width: 100%;
    padding-left:5px; 
    padding-right:5px; 	
}
#conversion {
    float:right;
}
table {
/*    color:rgb(0, 200, 255); */
    font-family: courier;
    font-size:75%;
}
#shpConvertSubmit {
	float:right;
    margin: 10px 10px 10px 10px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font: 12px Arial;
	border-radius: 12px;
}
#geo2TopoJSONSubmit {
	float:right;
    margin: 10px 10px 10px 10px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font: 12px Arial;
	border-radius: 12px;
}
.legend {
	text-align: left;
	line-height: 18px;
	background-color: #FFF;
	color: #555;
	border-radius: 5px;
    padding-left: 5px; 
    padding-right: 5px;
	padding-bottom: 5px;
}
.legend em {
	margin: 0 0 5px;
	color: #777;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}