html {
  height: 98%;
/*  overflow: hidden; */ /* This is a bad idea - #tilemaker div style works */
}
body {
  min-height: 98%;
}

#tilemaker { /* Prevent browser stupidity - no left srcollbar */
  height: 98%;
}
#shapeFileSelectortab {
/*    background-color:#eeeeee; */
	width: 100%;
    float: left;
    padding-left:5px; 
    padding-right:5px; 
}
/* Diagnostics tab */
#statustab {
/*    background-color:#eeeeee; */
    height: 98%;
	width: 98%;
}
#status {
	width: 99%;
    float: left;
	vertical-align: top;
	border-style: outset;	
	border-radius: 12px;
	overflow: scroll;
}
table {
/*    color:rgb(0, 200, 255); */
    font-family: courier;
    font-size:75%;
}
#maptab {
/*    background-color:#eeeeee; */
    float: right;
	width: 100%; 
    padding-left:5px; 
    padding-right:5px; 	
}

#conversion {
    float:right;
}

/* JQuery UI objects */
.ui-tabs .ui-tabs-nav {  
    line-height: 16px;   /* reduces height of the tab selector */
    font-size: 11pt !important;    
} 
.ui-accordion-content {  
    font-size: 11pt !important;  
	padding: 10px 20px !important;
} 
.ui-accordion-header {  
    line-height: 18px;   /* reduces height of the header box */
    font-size: 11pt !important;  
    text-indent: 10px;  
} 

.my-accordion-fields1 {	/* Add space between field rows */
	margin-bottom: 5px;
}
#progressbar {
	width: 99.5%;
}
.ui-progressbar {
	position: relative;
}
.progress-label {
  position: fixed;
  left: 50%;
  transform: translate(-50%, +50%);	
}
input[type="file"] { /* Disable to default file load look, use customFileUpload */
    display: none;
}
#quantizationSelect {
    width: 200px; 
}
#quantizationSelect-button {
  vertical-align : middle;
} /*
.entry {
    position: relative;
    right: -200px;
    width: 500px;
}
.entry-tooltip-positioner {
    position: fixed !important; 
    left: 100px !important; 
} */
.customFileUpload { /* This needs to inherit the correct JQuery UI class style; the .css() function won't work on form file upload buttons! */
    display: inline-block;
    padding: 6px 12px 6px 6px;
    cursor: pointer;
	
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1em;

	border: 1px solid #aed0ea;
	background: #e4f1fb url("jquery-ui-1.11.4.custom/images/ui-bg_glass_100_e4f1fb_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #0070a3;
	
	border-radius: 6px;
	margin-bottom: 6px;
}
.ui-button:focus { outline:none !important } /* Remove dialog box artefact in firefox */
#files { /* Set file load button message width */ 
    width: 400px; 
}
#shpConvertSubmit { /* Submit button */
    float:right;
    width: 150px; 
}
/* Leaflet overrides: lergend box at bottom left */
.legend {
	text-align: left;
	line-height: 18px;
	background-color: #FFF;
	color: #555;
	border-radius: 5px;
    padding-left: 5px; 
    padding-right: 5px;
	padding-bottom: 5px;
}
.legend em {
	margin: 0 0 5px;
	color: #777;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}