html {
	height: 98%;
/*  overflow: hidden; */ /* This is a bad idea - #tilemaker div style works */
}
body {
	min-height: 98%;
	font-size: smaller;
}

#tilemaker { /* Prevent browser stupidity - no left srcollbar */
  height: 98%;
}
#shapeFileSelectortab {
/*    background-color:#eeeeee; */
	width: 100%;
    float: left;
    padding-left:5px; 
    padding-right:5px; 
}
/* Diagnostics tab */
#statustab {
/*    background-color:#eeeeee; */
    height: 98%;
	width: 98%;
}
#status {
	width: 99%;
    float: left;
	vertical-align: top;
	border-style: outset;	
	border-radius: 12px;
	overflow: scroll;
}
#diagnosticstable {
/*    color:rgb(0, 200, 255); */
    font-family: courier;
}
#maptab {
/*    background-color:#eeeeee; */
    float: right;
	width: 100%; 
    padding-left:5px; 
    padding-right:5px; 	
	overflow: scroll;
/*	margin-top:50px; */
}

#conversion {
    float:right;
}

/* JQuery UI objects */
.ui-tabs .ui-tabs-nav {  
    line-height: 16px;   /* reduces height of the tab selector */
} 
.ui-accordion-content {  
	padding: 10px 20px !important;
} 
.ui-accordion-header {  
    line-height: 18px;   /* reduces height of the header box */
    text-indent: 10px;  
} 

.my-accordion-fields1 {	/* Add space between field rows */
	margin-bottom: 5px;
    width: 490px;
}
.my-accordion-fields2 {	
    width: 100px;
}
#progressbar {
	width: 99.5%;
    text-align: center;
}
.ui-progressbar {
/*	position: relative; */
}
.progress-label {
/*	width: 98%; */
/* Chnaged to fixed so there is more space! */	
    width: 100%;
    bottom: 2.5%;
    position:absolute;
/*  position: fixed;
  left: 50%;
  transform: translate(-50%, +50%);	*/
}
#errorpopuptable {
    border: 1px solid black;
}
th, td, tr  {
    border: 1px solid black;
}
#errorpopuptablestack {
}
input[type="file"] { /* Disable to default file load look, use customFileUpload */
    display: none;
}

#simplificationFactor {
    width: 80px; 
}
#maxzoomlevelSelect {
    width: 80px; 
}
#maxzoomlevelSelect-button {
	vertical-align : middle;
} 
#diagnostics {
    width: 0px; 
}
#quantizationSelect {
    width: 170px; 
}
#quantizationSelect-button {
	vertical-align : middle;
} /*
.entry {
    position: relative;
    right: -200px;
    width: 500px;
}
.entry-tooltip-positioner {
    position: fixed !important; 
    left: 100px !important; 
} */
.customFileUpload { /* This needs to inherit the correct JQuery UI class style; the .css() function won't work on form file upload buttons! */
    display: inline-block;
    padding: 6px 12px 6px 6px;
    cursor: pointer;
	
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;

	border: 1px solid #aed0ea;
	background: #e4f1fb url("jquery-ui-1.11.4.custom/images/ui-bg_glass_100_e4f1fb_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #0070a3;
	
	border-radius: 6px;
	margin-bottom: 6px;
}
.geographyEntry { /* As does this */
	background: #e4f1fb url("jquery-ui-1.11.4.custom/images/ui-bg_glass_100_e4f1fb_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #0070a3;
}

.ui-button:focus { /* Remove dialog box artefact in firefox */
	outline:none !important 
} 
#files { /* Set file load button message width */ 
    width: 300px; 
}
#shpConvertSubmit { /* Submit button */
    float:right;
    width: 150px; 
}
/* Leaflet overrides: lergend box at bottom left */
.legend {
	text-align: left;
	line-height: 18px;
	background-color: #FFF;
	color: #555;
	border-radius: 5px;
    padding-left: 5px; 
    padding-right: 5px;
	padding-bottom: 5px;
}
.legend em {
	margin: 0 0 5px;
	color: #777;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}