<!--
/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */
-->

<!-- 
HTML partial for ui-router
Disease submission modal investigation parameters (tree #3)
-->
<div class="modal-body" ng-controller="ModalParametersCtrl">
    <div class="msettings">
        <div class="msettings-ct">
            <div class="msettings-header">
                <h2>Investigation parameters</h2>
                <a class="modal_close" ng-click="close()"></a>
            </div>
            <div class='modalContainer'>
                <div ui-layout="{flow : 'column'}" >
                    <div ui-layout-container class="ICD-back" id="vSplit1" size="45%">
                        <div class="ICDsearchContainer">                         
                            <select ng-model="taxonomyScheme" type="text" class='ICDsearchDrop' ng-options="t for t in taxonomyServices" ng-change="taxonomySchemeChanged()"></select>                                                   
                            <input class='ICDsearchBox' ng-model="searchText" type="text" placeholder="Search name or description" ng-click="resetTextSearch()" ng-keypress="textKeyPress($event)"/>
                            <button class="ICDsearchButton" ng-click="searchDescription()">SEARCH</button>
                            <div class="counter">{{hitsCount}}</div>
                        </div>                     
                        <div class="ICgridContainer">
                            <div ui-grid="gridOptionsICD" ui-grid-auto-resize ui-grid-resize-columns class="grid-ICD" ng-grid="gridOptionsICD"></div>
                        </div>
                    </div>
                    <div ui-layout-container> 
                        <div ui-layout="{flow : 'row'}" >
                            <div ui-layout-container class="param-back" id ="hSplit1" size="390px">
                                <div id="parameterHeader">
                                    <div class='done' ng-click="addInvestigation()"> <a>Done</a></div> 
                                    <div id='clearParameters' ng-click="clearInvestigations()"> Clear </div>
                                </div>
                                <div class="pbox">
                                    <div class="pboxLabel">Investigation Name</div>
                                    <input type="text" class="pboxName" ng-pattern-restrict="^[A-Za-z0-9_ ]*$" ng-model="title">
                                </div>
                                <div class="pbox">
                                    <div class="pboxLabel">Covariates</div>
                                    <select type="text" class="pboxDrop" ng-model="sex" ng-options="g for g in sexes"></select>
                                    <div class="pboxCaption">Sex</div>
                                    <select type="text" class="pboxDrop" ng-model="covariate" ng-options="g for g in covariates"></select>
                                    <div class="pboxCaption">Covariate</div>
                                </div>
                                <div class="pbox">
                                    <div class="pboxLabel">Age Range</div>
                                    <select type="text" class="pboxDrop" ng-model="lowerAge" ng-options="g for g in ages" ng-change="agesChanged()"></select>
                                    <div class="pboxCaption">Start</div>
                                    <select type="text" class="pboxDrop"ng-model="upperAge" ng-options="g for g in ages" ng-change="agesChanged()"></select>
                                    <div class="pboxCaption">End</div>
                                </div>
                                <div class="pbox">
                                    <div class="pboxLabel">Year Range</div>
                                    <select type="text" class="pboxDrop" ng-model="startYear" ng-options="s for s in years" ng-change="yearsChanged()"></select>
                                    <div class="pboxCaption">Start</div>
                                    <select type="text" class="pboxDrop"ng-model="endYear" ng-options="s for s in years" ng-change="yearsChanged()"></select>
                                    <div class="pboxCaption">End</div>
                                <!-- Allows user to group year ranges CURRENTLY NOT IMPLEMENTED
                                    <select type="text" class="pboxDrop"ng-model="yearInterval" ng-options="s for s in intervals"></select>
                                    <div class="pboxCaption">Interval</div>
                                -->
                                </div>
                            </div>
                            <div ui-layout-container class=" recap-back" >                
                                <div ui-grid="gridOptionsRecap" ui-grid-auto-resize ui-grid-resize-columns class="grid-recap" ng-grid="gridOptionsRecap"></div>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>