<!--
/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */
-->

<!-- 
HTML partial for ui-router Viewer
-->
<div class="topnav" id="myTopnav" ng-controller="TabCtrl">
    <div class='logOutUsername' ng-controller="TabCtrl" > 
        <a ng-click="logout()" id="user" tooltip-class="logoutToolTip" tooltip-placement="right" uib-tooltip="Log out {{username}}"></a> 
    </div>
    <a ui-sref="state1" ng-class="{active: $state.includes('state1')}">Study Submission</a>
    <a ui-sref="state2" ng-class="{active: $state.includes('state2')}">Data Viewer</a>
    <a ui-sref="state3" ng-class="{active: $state.includes('state3')}">Mapping</a>
    <a ui-sref="state4" ng-class="{active: $state.includes('state4')}">Export</a>
    <a style="font-size:15px;" class="icon" ng-click="hamburger()">&#9776;</a>
</div>

<div id="buttons">
    <div class='geoDropsMapping'>
        <div class="mappingPageLabel">{{studyType['viewermap']}}</div>
        <div>
            <div>Study:</div>
            <select ng-change='child.updateSex("viewermap")'id='studySelect' ng-model='studyID["viewermap"]' ng-options='(s.study_id +              ": " +              s.name) for s in child.studyIDs'></select>
        </div>
        <div>
            <div>Sex:</div>
            <select ng-change='child.updateStudy("viewermap")' id='optionsSelect' ng-model="sex['viewermap']" ng-options="s for s in  child.sexes['viewermap']"></select>
        </div>
        <div id="studyInfo" get-study-info mapid="viewermap"></div>
    </div>
    <div class="mappingPageAreaName">{{thisPolygon['viewermap']}}</div>
</div>
<div ng-controller="leafletLayersCtrl" ui-layout="{flow : 'column'}">
<div ui-layout-container ui-layout-loaded id="vSplit1" max-size="100%" size="{{vSplit1}}%"> 
    <div ui-layout="{flow : 'row'}">  
        <div ui-layout-container id="hSplit1" max-size="100%" class="js-back" size="{{hSplit1}}%">
            <div ng-show="isDiseaseMapping">
                <button type="button" class="d3SaveButton" title="Quick export chart" saved3-chart mapid="distHisto"></button>
                <dist-histo chart-data="histoData['viewermap']" name="distHistoName" width="distHistoCurrentWidth" height="distHistoCurrentHeight"></dist-histo>
            </div>  
            <div ng-hide="isDiseaseMapping">      
                <div id="riskGraph2Tooltip"></div>
                <button type="button" class="d3SaveButton" title="Quick export chart" saved3-chart mapid="riskGraph"></button>
                <risk-graph2 risk-graph-data="riskGraphData2" name='riskGraphChartName2' width="riskGraphChartCurrentWidth2" height="riskGraphChartCurrentHeight2" genders-array="gendersArray2" risk-factor="riskFactor2" risk-factor2-field-name="riskFactor2FieldName2"></risk-graph2> 
            </div>
        </div>  
        <div ui-layout-container id="hSplit2" max-size="100%" class="js-back">
            <button type="button" class="d3SaveButton" title="Quick export chart" saved3-chart mapid="poppyramid"></button>
            <pyramid chart-data="populationData['viewermap']" width="pyramidCurrentWidth" height="pyramidCurrentHeight"></pyramid> 
            <select id="yearPyramidSelect" ng-model="yearPop" ng-options="s for s in yearsPop" ng-change="updatePyramidForYear()"></select>
        </div>
    </div>
</div>
<div ui-layout-container ui-layout-loaded> 
<div ui-layout="{flow : 'row'}">
    <div ui-layout-container class="leaflet-box" id="hSplit2" max-size="100%" size="{{hSplit2}}%">            
        <div id="viewermap"></div>
    </div>
    <div ui-layout-container class="js-back">
        <div ng-controller="MultiSelectCtrl">
            <div ui-grid="viewerTableOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter class="grid-viewer" ng-mouseleave="mouseleave($event)" ng-grid="viewerTableOptions"></div>
        </div>
    </div>
</div>