/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */

/*
* RIF CSS SPECIFIC FOR D3
*/

.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.svg-content-responsive2 {
    display: inline-block;
    position: absolute;
    left: 10px;
}

.y.axis path,
.x.axis path {
    fill: none; 
    stroke: #999999; 
    stroke-width: 2; 
    opacity: 0.3;
}

.area {
    fill: #B0C4DE;
}

.bar {
    fill: #a7c97f;
    stroke: white;
}

.tick {
    fill: #999999;
    font: 10px sans-serif;
}
.bar text {
    fill: #999999;
    font: 10px sans-serif;
}

.xlabel {
    text-transform: uppercase;
}

/*RR CHART*/
#rrchart g.y text{
    text-transform:uppercase;
    font-size: 12px;
    fill: rgb(145, 145, 145);
}

#rrchart .axis .tick{
    fill: #919191;
}

#rrchart .area {
    stroke: rgba(127,130,201,0.9);
    fill: #D9D9D9;
    stroke-width: 0.4;
}

.line {
    fill: none;
    stroke: rgba(127,130,201,0.9);
    stroke-width: 1.5px;
}

#refLine {
    fill: none;
    stroke: #2c778f;
    stroke-width: 2px;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.bivariateHiglighter {
    stroke: #EEA9B8;
    fill:#EEA9B8;    
    stroke-width: 2;
}
#lineBivariatesvg text {
    fill: #919191;
}
.currentFiguresLineBivariate {
    font-weight: 600;
    font-size:11px;
    fill: #777777;
}
#labelLineBivariate {
    text-transform:uppercase;
    font-size: 11px;   
    fill: #777777;
}

g.context g.brush rect.background {
    fill: rgba(0,0,0,.1);
}

g.context g.axis path {
    stroke-opacity: 0;
}

g.context g.axis line {
    stroke-opacity: .1;
}

g path.areaChart1 {
    fill: #7f82c9;
}

g path.areaChart2 {
    fill: #c97f82;
}

g path.areaChart3 {
    fill: #82c97f;
}

g path.areaChart4 {
    fill: #c9c67f;
}

svg.areaCharts .axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

svg.areaCharts .brush .extent {
    stroke: #f09f8c;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

svg.areaCharts g.context rect.background{
    visibility: visible !important;
}

/*area plots*/
.selection {
    fill: #325e82;
}

/*POP PYRAMID*/
.maleBar {
    height : 70;
    fill : #c97f82;
    stroke: black;
    stroke-width : 0;
}

.totalPopulationBar {
    height : 70;
    fill : none;
    stroke: lightgray;
    stroke-width : 1;
}

.xAxisDashedLines {
    stroke: gray;
    stroke-width : 1;
    stroke-dasharray : 5, 5;    		
}

.femaleBar {
    height : 70;
    fill : #7f82c9;
    stroke: black;
    stroke-width : 0;
}

#yearPyramidSelect {
    width: 80px;
    position: relative;
    display: inline;
    float: right;
    z-index: 2;
}

pyramid {
    position: absolute;
    z-index: 1;
}

/*MAPPING 2*/
.zoom {
    cursor: crosshair;
    fill: none;
    pointer-events: all;
}

.focusBackground {
    fill: none;
    opacity: 0.4;
}

.mask {
    z-index: 999999999999;
}

.prob1 {
    fill: #91cf60;
    opacity: 0.2;
}
.prob2 {
    fill: none;
    opacity: 0.2;
}
.prob3 {
    fill: #fc8d59;
    opacity: 0.2;
}

.d3SaveButton {
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
    color: #fff;
    width: 30px;
    height: 30px;
    border-color: #ccc;
    background: white url("../images/glyphicon/glyphicons-444-floppy-disk.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
    margin: 5px;
    position: absolute;
    z-index: 10;
    opacity: 0.3;
}

.d3SaveButton:hover {
    background-color: #f4f4f4;
    opacity: 0.8;
}

.d3SaveButton:focus {
    outline: none;
}
