/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */

/*
* RIF MAIN CSS
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration:none
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@media screen and (max-height: 650px) {
    .buttonContainer {
        margin-top: 30% !important;
    }
    .headerBlock {
        background-size: 90% 90% !important;
    }
    .headerBlockActive {
        background-size: 90% 90% !important;
    }
    #content>div.blocks {
        height: 70% !important;
    }
    #buttons .geoDrops>div {
        margin-top: 0 !important;
    }
}
@media screen and (min-height: 651px)and (max-height: 850px) {
    .buttonContainer {
        margin-top: 40% !important;
    }
    .headerBlock {
        background-size: 92% 92% !important;
    }
    .headerBlockActive {
        background-size: 92% 92% !important;
    }
    #content>div.blocks {
        height: 85% !important;
    }
}
body {
    line-height: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
    background-color: #ffffff;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a,
a:focus,
a:active {
    outline: none;
    color: #999999
}
a:hover {
    text-decoration: none;
    color: #8DB6CD
}


/*
 * RIF 4.0 CSS
 */

body {
    overflow: hidden
}
#rifwrap {
    width: 100%;
    height: 100%;
    position: absolute;
}

#studyInfo {
    background: transparent url("../images/glyphicon/glyphicons-196-info-sign.png") no-repeat;
    width: 16px;
    height: 16px;
    margin: 28px 0px 0px 5px;
    float: left;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.4;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
#studyInfo:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    cursor: pointer;
}

#content {  
    height: 50%;
    margin-top: 7%;
}
select {
    width: 120px;
    background-color: #F2F2F2;
    border: none;
    color: #999999;
    font-size: 12px;
    display: block;
    padding: 3px;
    text-transform: uppercase;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#1caff6;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    float: right;
    margin-right: 30px;
    height: 50px;
    width: 120px;  
    margin-top:15px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}

.myButton:active {
    opacity: 0.7;
}

#finalRun {
    position: absolute;
    right: 0px;
    bottom: 30px;
}

#areaSelectionMap {
    position: absolute;
    margin-left: 34%;
    height: calc(85.5% + 40px);
    width: 66%;
}

.tableCounter {
    position: absolute;
    bottom: 0.5%;
    text-transform: uppercase;
    font-size: 15px;
    left: 0.5%;
}
.mapCounter {
    position: absolute;
    bottom: 0.5%;
    text-transform: uppercase;
    font-size: 15px;
    right: 0.5%;
}

.shapeCounter {
    position: absolute;
    bottom: 0.5%;
    text-transform: uppercase;
    font-size: 15px;
    left: 34%;
}

.counter {
    font-weight: bold;
    color: #FF7D40
}

/* General dropdown styles */
.dropdownBand {
    display: inline;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 10px 5px 0px 30px;
    width: 75px;
    border: 1px solid #cccccc;
    color: black;
}

.dropdown {
    margin-left: 100px;
}
.dropdown dd,
.dropdown dt,
.dropdown ul {
    margin: 0px;
    padding: 0px;
    display: inline;
}

/* Login page footer */
#footer {
    width: 100%;
    background-color: #331a00; 
    position: absolute;
    bottom: 0;
    height: 12%;
    max-height: 70px;
    color: white;
    opacity: 0.8;
}
#footer div {
    position: fixed;
    border-left: 1px solid white;
    padding: 8px 5px 5px 5px;
    margin-top: 5px;
}
#footer div.authors {
    left: 10px;
}
#footer div p {
    line-height: 15px;
    font-size: 11px;
}
#footer div.collaborators {
    left: 250px;
}
#footer div.otherContributors {
    left: 650px
}
#footer div.licence {
    left: 1000px
}
#footer div.authors p {
    text-align: left
}
#footer a {
    color: #EBEBEB;
    text-decoration: none
}
#footer a:hover {
    text-decoration: underline
}
.footerHeadings {
    text-transform: uppercase;
    font-weight: bold;
}

/* Disease Submission */
.positioning {
    width: 90%;
    margin-left: 5%;
}
.positioning #runnable {
    float: right
}
#buttons>div {
    float: left;
    width: 100%;
}
#buttons .geoDrops {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#buttons .geoDrops>div {
    float: left;
    margin-top: 0%;
    font-size: 11px;
    width: 15%;
}
#buttons .geoDrops>div select {
    margin: 0;
}
#buttons .geoDrops>div span {
    text-transform: uppercase
}

#buttons{
    height:55px;
}

#buttons>div {
    float:left;
}

#buttons .export {
    margin:  18px 10px 0px 50px;
    float: right;
}

#buttons .export a{
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color:#E3E3E3
}
#buttons .export a:hover{
    color: white;
    background-color: #8DB6CD;
    cursor: pointer; 
}

#buttons .mappingPageLabel {
    margin: 18px 10px 0px 10px;
    font-size: 18px !important;
    color: #8DB6CD;
}

#buttons .mappingPageAreaName {
    text-align: right;
    float: right;
    margin: 18px 5px 0px 20px;
    font-size: 18px !important;
    color: #FF7D40;
    font-weight: bold;
}

#buttons .geoDropsMapping{	
    width: auto;
    position: absolute;
}
#buttons .geoDropsMapping>div {
    float: left;
    padding: 6px 8px 0 0;
    font-size:11px
}
#buttons .geoDropsMapping>div select{
    margin:0;
}
#buttons .geoDropsMapping>div span {
    text-transform:uppercase
}

#buttons #left{
    float: left;
    width: 50%;
    height: 55px;
}
#buttons #right{
    position: absolute;
    margin-left: 50%;
    float: right;
    width: 50%;
    height: 55px;
}  

#buttons #studySelect {
    width: 250px;
}
#buttons #optionsSelect {
    width: 75px;
}

.dropdownSelectSingle,
.dropdownSelect {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: solid 4px rgba(32,166,231,0.8);
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    color: #848484;
    background-color: transparent;
}
::-webkit-input-placeholder {
    color: #848484;
}

:-moz-placeholder { /* Firefox 18- */
    color: #848484;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #848484;  
}

:-ms-input-placeholder {  
    color: #848484;  
}

.dropdownSelectSingle:hover,
.dropdownSelect:hover {
    border-bottom: solid 4px #4daf4a;
    opacity: 1;
}
.dropdownSelectSingle,
.dropdownSelect option {
    background-color: transparent;
}

.dropdownSelectSingleSmall,
.dropdownSelectSmall {
    padding: 3px;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: solid 1px #CAE1FF !important;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    color: #848484;
    background-color: transparent;
}
.dropdownSelectSmallLabel {
    color: #1caff6;
    margin-bottom: 4px !important;
}

#selectAtSelection {
    margin-left: 34%;
    width: 15%;
}
#resolutionSelection{
    width: 15%;
    margin-left: 2%;
}

#maptableLeft {
    float:left;
    width:15%;
    text-align:center;
}
#maptableLeft2 {
    float:left;
    width:19%;
    text-align:center;
}
#studySwitch {
    float:left;
    margin-right: 55px;
}
#maptableDrop1 {
    width:22%;
    display: inline-block;
    padding-right:2%;
}
#maptableDrop2 {
    width:22%;
    display: inline-block;
    padding-right:2%;
}

.mapListButton {
    margin-top: 10px;
    float:left;
    padding: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#1caff6;
    font-family:arial;
    font-size:14px;
    font-weight:bold; 
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.mapListButton:hover{
    text-decoration: underline;
}

#mapListButtonExport {
    float: right;
    margin-right: 10px;
}

#exportSave {
    float: right;
    margin-right: 10px;
}

input[type="text"].dropdownInput {
    padding: 0px;
    width: 100%;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: solid 2px #DEDEDE;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    color: #848484;
}
input[type="file"].fileOpener {
    font-size: 14px !important;
    font-family: calibri;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #BBB;
    background-color: #EDEDED;
    cursor: pointer;
}

.dropdownInputSmall {
    font-size: 14px !important;
    border-bottom: solid 1px #CAE1FF !important;
    margin-bottom: 20px !important;
}

.dropDownLabel {
    color: #1caff6;
}

input[type="text"].dropdownInput:focus,
.style-4 input[type="text"].focus {
    border-bottom: solid 20px #63B8FF;
}

.availablesWrapper {
    position: relative;
}
.availables {
    width: 100%;
    max-height: 200px;
    height: auto;
    border: 1px solid #CAE1FF;
    background: white;
    overflow: auto;
    padding: 4px 9px;
    display: none;
    position: absolute;
    z-index: 9999;
}

.availables div a {
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none
}
input[type="text"].dropdownInput:focus {
    outline: none;
}
input.dropdownInput:-ms-input-placeholder {
    color: #BABABA;
}
input.dropdownInput:-webkit-input-placeholder {
    color: #ccc;
}
#content>div.blocks {
    float: left;
    height: 100%;
    margin-left: 4%;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    max-height: 400px;
}
.headerBlock {
    height: 90%;
    border-bottom: 2px solid #DEDEDE;
}
.headerBlockActive {
    height: 90%;
    border-bottom: 2px solid #DEDEDE;
}
.headerBlock h1 {
    font-size: 18px;
    padding-top: 5%;
}
div.headerBlock:hover {
    cursor: pointer;
    opacity:1
}
div.headerBlockActive:hover {
    cursor: pointer;
    opacity:0.7
}

div.headerBlock{
    opacity:0.5
}
.headerBlock.active{
    opacity:1;
}
#studyArea .headerBlock {
    background: white url(../images/trees/tree1bw.jpg) no-repeat center bottom;
}
#studyArea .headerBlockActive {
    background: white url(../images/trees/tree1.png) no-repeat center bottom;
}

#comparisonArea .headerBlock {
    background: white url(../images/trees/tree2bw.png) no-repeat center bottom;
}
#comparisonArea .headerBlockActive {
    background: white url(../images/trees/tree2.png) no-repeat center bottom;
}

#invParameters .headerBlockActive {
    background: white url(../images/trees/tree3.png) no-repeat center bottom;
}
#invParameters .headerBlock {
    background: white url(../images/trees/tree3bw.png) no-repeat center bottom;
}

#statsParameters .headerBlock {
    background: white url(../images/trees/tree4bw.png) no-repeat center bottom;
}
#statsParameters .headerBlockActive {
    background: white url(../images/trees/tree4.png) no-repeat center bottom;
}

#statsParameters div.headerBlock:hover {}
.summary {
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: white;
    min-height: 50px;
    padding-top: 5px;
    font-weight: bold;
}
.summary h2 {
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 10%;
    padding: 2% 0;
}
.summary div {
    height: 88%;
}
.summary div ul {
    width: 75%;
    margin: 2% auto;
}
.summary div ul li {
    border-bottom: 1px solid #F2F2F2;
    padding: 2px 0;
    font-size: 11px;
}

.subButtons{
    margin-top: 50px;
    height: 100px;
}
#saveButton {
    float: left;
    margin-left: 5%;
}
#statusButton {
    margin-left: auto ;
    margin-right: auto ;
    width: 160px;
}
#runButton{
    float: right;
    margin-right: 5%;
    position: relative;
}

.subButtonContainer {
    width: 160px;
    color: #848484;
    position: relative;   
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
}

#fromFile:hover, #resetStudy:hover, #viewMessages:hover {
    color: black;
}

#resetStudy, #fromFile, #viewMessages {
    top: 15px;
    font-size: 12px;
}

#save, #run, #status {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 5px solid #FFDAB9;
}

#save:hover, #run:hover {
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    color: black;
    border-bottom: 5px solid #63B8FF;
}

#exportParameters{
    text-align: center;
    height: auto;
    width: auto;
    margin-top: 40px;
    padding: 12px 24px;
}

#status:hover {
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    color: black;
    border-bottom: 5px solid #4daf4a;
}


textarea.description {
    background-repeat: repeat-x;
    border: 1px solid #d1c7ac;
    width: 440px;
    height: 130px;
    padding: 3px;
    margin: 10px 30px;
    color: #848484;
    resize: none;
    position: absolute;
    bottom: 90px;
    left: 0px;
}

#resetLabel {
    padding:24px 24px;
    font-size: 20px;
}

#cancelReset {
    margin-left: 30px;
    float:left;
}

/* Ivestigation parameter modal dialog  */
.pbox {
    margin:1% 1% 0% 2%;
    float:left;
    background-color: #d9f1fd; 
    width:46%;
    height:150px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border:1px solid #cccccc;
}
.pboxLabel {
    padding: 2% 2% 2% 5%;
    font-size: 20px;
    text-transform: uppercase;
}

.pboxName {
    padding: 10px;
    font-size: 1.1em;
    background: #F7F7F7;
    border:1px solid #cccccc;
    color:#999999;
    text-transform: uppercase;
    width: 80%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #cccccc;
    margin-left: 5%;
}

.pboxDrop {
    text-transform: uppercase;
    width: 50%;
    margin-left: 5%;
    margin-bottom: 2px; 
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 1.1em;
    background: #F7F7F7;
    border:1px solid #cccccc;
    color:#999999;
}

.pboxCaption {
    font-size: 14px;
    display:inline-block;
    margin-left: 5px;
}

#clearParameters {
    background-color: #FF7256;
    opacity: 1;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-table;
}

#clearParameters{
    text-transform: uppercase;
    margin: 0 0% 0 0 !important;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    color: white! important;
    font-weight: bold;
    border: 1px solid #F2F2F2;
}

.done{
    background-color: #1caff6;
    font-size: 20px;
    right: 0;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    z-index: 99999999;
    border: 1px solid #F2F2F2;
    color: white! important;
    font-weight: bold;
    border-radius: 10px 0px 00px 10px;
    -moz-border-radius:10px 0px 00px 10px;
    -webkit-border-radius: 10px 0px 00px 10px;
}

.done a,.done a:hover {
    color:white;
    display: table-cell;
    padding: 12px 30px;
}

#clearParameters:hover,
.done:hover{
    text-decoration: underline;
    cursor: pointer;
}

.runDialog {
    position:relative
}
.runDialog > a{
    position:absolute;
    bottom:80px;
    left:30px;
    font-weight: bold;
}
.viewSummary:hover {
    cursor: pointer;
}

.ICDsearchContainer {
    float: left;
    width: 90%;
    height: 100px;
    position: relative;
}
.ICgridContainer {
    float: left;
    width: 90%;
    height: calc(100% - 185px);
    position: relative;
    margin-top: 0px !important;
}

.ICDsearchDrop {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100% !important;
    font-size: 14px;
    text-transform: uppercase;
/*    -webkit-appearance: none;
    -moz-appearance: none; */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: solid 2px #1caff6;;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    color: #848484;
    background-color: white;
}

.ICDsearchBox {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: calc(100% - 120px) !important;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: solid 2px #1caff6;;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    color: #848484;
    background-color: white;
}

.ICDsearchButton {
    padding: 10px;
    float: right;   
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#1caff6;
    font-family:arial;
    font-size:14px;
    font-weight:bold; 
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.ICDsearchButton:hover{
    text-decoration: underline;
}

/*SUMMARY TABLE IN RUN STUDY*/
.modelViewer table {
    background-color: #E3E3E3;
}
.modelViewer header {
    font-size: 22px;
    text-transform: uppercase;
    padding: 30px 10px 10px 0px;
    font-weight: bold;
}
header:first-child {
    padding-top: 10px;
}
.modelViewer {
    margin: 2% 2% 0% 2%;
    width: 95%;
    position: relative;
    height: 94%;
    border: 1px solid #CAE1FF;
    background: white;
    overflow: auto;
    padding: 4px 9px;
}
.modelViewer section {
    padding-left: 10px;
    margin: 1px;
    font-size: 14px;
    color: #A1A1A1;
    display: inline;
    text-transform: uppercase;
}
.modelViewer attr {
    font-size: 14px;
    color: #000;
}
.modelViewer td {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 10px;
    color: #000;
    white-space: nowrap;
}
.modelViewer th {
    text-align: center;
    font-size: 10px;
    color: #000;
    background-color: #A1A1A1;
}

/* LOGIN SCREEN*/
.login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 100;
    height: 300px;
    width: 350px;
    background: white;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

div.world{
    position: relative;
    z-index: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: transparent url("../images/industry-sunrise-clouds-fog-39553.jpeg"); 
    background-size: cover;
    position: absolute;
}

.password{
    margin: 10px 25px;
    width: 240px !important;
}

.username{
    margin: 10px 25px; 
    width: 240px !important;
}

.login{
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    line-height: 13px;
    margin: 0;
    padding: 10px 20px !important;
    white-space: nowrap;
    background: #1caff6;
    color: white !important;
}

input.login:hover{
    background: #7EC0EE;
    color:#EDEDED  !important;
}

input[type="text"].dropdownInput {    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: solid 2px #CAE1FF;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

input[type="text"].dropdownInput:focus, .style-4 input[type="text"].focus {
    border-bottom: solid 2px #63B8FF;
    outline: none
}

/*STATS*/
.statsInfo{
    padding:15px 15px 0px 15px;
    position: relative;
}
.statsInfo h2{
    font-weight:bold;
    font-size:14px;
    text-transform: uppercase
}
.statsInfo p{ 
    font-style: italic
}

#modelsList {
    margin-bottom: 35px;
}

.statsManual {
    float:right;
    margin-left: 20px;
    font-weight: bold;
}
.statsManual:hover {
    cursor: pointer;
}

.modelsAvailable > div {
    padding-bottom: 5px;
}

.modelsAvailable input {
    color:#777777
}
.modelsAvailable{
    margin-top:10px;
    margin-bottom:0px;
    width:446px;
    position: relative; 
    height: auto;
    border: 1px solid #CAE1FF;
    background: white;
    overflow: auto;
    padding: 4px 9px; 
    display: block ;
    max-height: 400px ;
    z-index: 1;
}

input[type=radio]   {
    margin-top: -1px;
    vertical-align: middle;
    width:15px;
    height:15px;
}

input[type=radio]+ label  {
    display: inline;
    vertical-align: middle;
}

input[type=number]  {
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline;
    width: 100px;
    padding: 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 1em;
    background: #F7F7F7;
    border: 1px solid #cccccc;
    color: #999999;
}
input[type=number]+ label  {
    display: inline;
}

.toggleJSON {
    float: right;
    padding-right: 2%;

}
.toggleJSON:hover {
    cursor: pointer;
}

.topnav {
    overflow: hidden;
    background-color: #1caff6;
    z-index: 99999;
}

.topnav a:nth-child(2) {
    margin-left:100px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

.topnav .icon {
    display: none;
}

.topnav .active {
    background-color: #fff;
    color: #848484;
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px; 
}

.logOutUsername {
    float: left;
    position: relative;
    width: 200px;
}

.logoutToolTip {
    text-transform: uppercase;
    font-size: 10px;  
}

#user {
    margin-left: 15px;
    margin-top: 16px;
    height: 24px;
    width: 18px;
    background: transparent url("../images/glyphicon/glyphicons-592-person-running.png") no-repeat;
    opacity: 0.2;
}
#user:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        margin-left:200px;
        float: none;
        display: block;
        text-align: left;
    }
}
