/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */

/*
* RIF CSS SPECIFIC FOR LEAFLET
*/

.leaflet-container {
    background-color: white !important;
}

/* LEAFLET LEGEND */
.info {
    padding: 6px 8px;
    background: transparent;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    float: right !important;
}
.legend {
    line-height: 15px;
    color: #555;
}
.legend h4 {
    color: #000;
    font-weight: bold;
}
.legend i {
    width: 10px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    position: absolute;
}
.legend span {
    padding-left: 15px;
    font-size: 12px;
}

/*
* Map containers
*/
#areamap { 
    width: 100%;
    height: 100%; 
}
#viewermap {
    width: 100%;
    height: 100%;
}
#diseasemap1 {
    width: 100%;
    height: 100%;
}
#diseasemap2 {
    width: 100%;
    height: 100%;
}
#exportmap {
    width: 100%;
    height: 100%;
}

/*
* LEAFLET UI
*/

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-control-slider {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.leaflet-control-container .btn:hover {
    background-color: #f4f4f4;
    opacity: 0.8;
}

.btn-choropleth, .btn-choropleth:active {
    background: white url("../images/glyphicon/glyphicons-373-spray.png") no-repeat;
    margin-right: 30px;
}
.btn-basemap, .btn-basemap:active{
    background: white url("../images/glyphicon/glyphicons-320-sort.png") no-repeat;
}
.btn-clear, .btn-clear:active {
    background: white url("../images/glyphicon/glyphicons-551-erase.png") no-repeat;
}

.btn-zoomExtent, .btn-zoomExtent:active {
    background: white url("../images/glyphicon/glyphicons-371-globe-af.png") no-repeat;
}

.btn-zoomStudy, .btn-zoomStudy:active {
    background: white url("../images/glyphicon/glyphicons-488-fit-image-to-frame.png") no-repeat;
}
.btn-zoomSelected, .btn-zoomSelected:active {
    background: white url("../images/glyphicon/glyphicons-487-fit-frame-to-image.png") no-repeat;
}
.btn-exportMap, .btn-exportMap:active {
    background: white url("../images/glyphicon/glyphicons-444-floppy-disk.png") no-repeat;
}
.btn-switchSymbology, .btn-switchSymbology:active {
    background: white url("../images/glyphicon/glyphicons-230-retweet-2.png") no-repeat;
}
.btn-selectAll, .btn-selectAll:active {
    background: white url("../images/glyphicon/glyphicons-433-plus.png") no-repeat;
}
.btn-centroids, .btn-centroids:active {
    background: white url("../images/glyphicon/glyphicons-267-flag.png") no-repeat;
}
.btn-shapes, .btn-shapes:active {
    background: white url("../images/glyphicon/glyphicons-97-vector-path-polygon.png") no-repeat;
}
.btn-addPostalCode, .btn-addPostalCode:active {
    background: white url("../images/glyphicon/glyphicons-90-building.png") no-repeat;
}
.btn-addAOI, .btn-addAOI:active {
    background: white url("../images/glyphicon/glyphicons-416-disk-open.png") no-repeat;
}
.btn-removeAOI, .btn-removeAOI:active {
    background: white url("../images/glyphicon/glyphicons-17-bin.png") no-repeat;
    margin-left: 0px !important;
}

.leaflet-control #lockExtentTrue, #lockExtentFalse, #lockSelectTrue, #lockSelectFalse, #showHideSelectionShapesTrue, #showHideSelectionShapesFalse, #showHideCentroidsTrue, #showHideCentroidsFalse {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-color: #ccc;
    background-color: white; 
    float:right;
}

.leaflet-control #lockExtentTrue { 
    background: lightgreen url("../images/glyphicon/glyphicons-204-lock.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
}
.leaflet-control #lockExtentFalse {
    background: white url("../images/glyphicon/glyphicons-204-lock.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
}

.leaflet-control #lockSelectTrue { 
    background: lightgreen url("../images/glyphicon/glyphicons-596-paired.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
}
.leaflet-control #lockSelectFalse {
    background: white url("../images/glyphicon/glyphicons-596-paired.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
}

.leaflet-control #showHideCentroidsTrue { 
    background: lightgreen url("../images/glyphicon/glyphicons-267-flag.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
}
.leaflet-control #showHideCentroidsFalse {
    background: white url("../images/glyphicon/glyphicons-267-flag.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
}

.leaflet-control #showHideSelectionShapesTrue { 
    background: lightgreen url("../images/glyphicon/glyphicons-97-vector-path-polygon.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
}
.leaflet-control #showHideSelectionShapesFalse {
    background: white url("../images/glyphicon/glyphicons-97-vector-path-polygon.png") no-repeat;
    background-size: 70% 70%;
    background-position: 50% 50%;
}

.leaflet-control-container .btn {
    color: #fff;
    width: 30px;
    height: 30px;
    border-color: #ccc;
    background-color: #fff;
    background-size: 70% 70%;
    background-position: 50% 50%;
}

.leaflet-bottom.leaflet-left .leaflet-control {
    float: none;
    display:inline;
    position: relative;
}
.leaflet-bottom .btn:nth-child(n+3) {
    margin-left: 0px;
}

.leaflet-bottom #lockExtentTrue, #lockExtentFalse{
    position: relative;
}

.leaflet-control-scale-line {
    margin: 10px;
}

#bandHolder {
    border: 1px solid #ccc;
    width: 155px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 43px;
}

#bandHolder label {
    margin-left: 10px;
}

#areaHolder {
    border: 1px solid #ccc;
    width: 155px;
    height: 90px;
    background-color: white;
    border-radius: 4px;
    padding: 5px 10px;
}

.leaflet-left .leaflet-control:nth-child(n+3) {
    margin-top: 2px;
}

#zoomLevel {
    margin-top: 10px;
    width: 50px;
}

/*
CONDENSED ATTRIBUTION
*/
.leaflet-container .leaflet-condensed-attribution {
    margin: 10px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    background: rgba(255,255,255, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.leaflet-condensed-attribution .attributes-body {
    display: none;
    padding: 0 4px 0 12px;
    height: 28px;
    line-height: 28px;
}

.leaflet-condensed-attribution:hover .attributes-body {
    display: inline-block !important;
    overflow-y: scroll;
}

.leaflet-condensed-attribution .attributes-emblem {
    height: 28px;
    width: 28px;
    font-weight: bold;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

