/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */

/*
* RIF CSS Overrides to angular material
*/

.circular-progress-button {
    height: 36px;
    background-color:  #1caff6 !important;
    margin-top: 10px;
    margin-left: 25px;
}

.circular-progress-button>md-progress-circular {
    margin: auto;
    margin-top: 0px; /* If circular does not appear at the center, change this value. */
}

.circular-progress-button>md-progress-circular .md-half-circle {
    border-top-color: white !important;
}

.circular-progress-button>md-progress-circular .md-left>.md-half-circle {
    border-left-color: white;
}

.circular-progress-button>md-progress-circular .md-right>.md-half-circle {
    border-right-color: white;
}

/*HACK TO REMOVE FOCUS BORDER FROM DIVS*/
div:focus:not(#save):not(#run):not(#status) { 
    outline: none !important; 
    border: 0 !important;
}
/*EXCEPTIONS*/
div #save:focus, div #run:focus {
    outline: none !important; 
    border-bottom: 5px solid #FFDAB9;
}
div #status:focus {
    outline: none !important; 
    border-bottom: 5px solid #FFDAB9;
}

/*COLORBREWER PICKER*/

.colourPicker {
    position: absolute;
    width: 220px;
    height: 41px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 1.1em;
    background: #F7F7F7;
    border: 1px solid #cccccc;
    color: #999999;
    position: relative;
    margin: 0px;
}

md-select:not([disabled]):focus .md-select-value,
md-input-container.md-default-theme .md-input, md-input-container .md-input:hover,
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border: none;
}

.md-select-value img {
    width: 220px;
    padding: 8px 6px 2px 6px;
    height: 35px;
}

.md-select-value .md-select-icon {
    margin: 0px;
    color: transparent;
    width: 0px; 
}

.md-select-value {
    padding: 0px;
}

md-select-label img,
#swatch img, #colourPicker img {
    width: 220px;
    height: 20px;
}

md-select-label img {
    border: 1px solid black;
}

#swatch {
    padding: 0px;
    height: 20px;
    width: 220px;
}

/*HACK: https://github.com/angular/material/issues/2942*/
.md-select-menu-container {
    z-index: 99999999;
}


/* SWITCH FOR STUDY TYPE*/

md-switch.md-checked .md-bar {
    background-color: #337ab7 !important;
}
md-switch.md-default-theme .md-bar, md-switch .md-bar {
    background-color: #337ab7;
}
md-switch.md-default-theme.md-checked.md-warn .md-thumb, md-switch.md-checked.md-warn .md-thumb {
    background-color: #fff;
}
md-switch.md-default-theme.md-checked.md-warn .md-ink-ripple, md-switch.md-checked.md-warn .md-ink-ripple {
    color: #fff;
}
md-switch span {
    color:#848484;
    font-size: 1.1em;
}
md-switch .md-container {
    cursor: pointer;
}
