/**
 * The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
 * that rapidly addresses epidemiological and public health questions using 
 * routinely collected health and population data and generates standardised 
 * rates and relative risks for any given health outcome, for specified age 
 * and year ranges, for any given geographical area.
 *
 * Copyright 2016 Imperial College London, developed by the Small Area
 * Health Statistics Unit. The work of the Small Area Health Statistics Unit 
 * is funded by the Public Health England as part of the MRC-PHE Centre for 
 * Environment and Health. Funding for this project has also been received 
 * from the United States Centers for Disease Control and Prevention.  
 *
 * This file is part of the Rapid Inquiry Facility (RIF) project.
 * RIF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RIF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
 * to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
 * Boston, MA 02110-1301 USA

 * David Morley
 * @author dmorley
 */

/*
* RIF CSS for modals
*/

.msettings .txt-fld #breaks input {
    float: left;
    width: 58px;
    margin: 5px 10px 5px 0px;
    font-size: 1.1em;
    color: #CCC;
    border: 0;
    background: #F7F7F7
}
.msettings .txt-fld,
#msettings .save-fld,
#msettings .save-fld-settings,
#msettings save-basemap {
    position: relative;
    text-align: right;
}
.msettings .txt-fld label {
    display: block;
    float: left;
    width: 100px;
    padding-top: 4px;
    font-size: 1.1em;
    text-align: left;
}
.msettings .txt-fld select,
.msettings .txt-fld input[type="text"] {
    width: 180px;
    padding: 4px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 1em;
    background: #F7F7F7;
    border: 1px solid #cccccc;
    color: #999999;
}
.msettings .txt-fld {
    padding: 14px 30px;
    border-bottom: 1px solid #EEE;
}
.msettings .bnd-fld {
    padding: 14px 30px;
    float: left;
    width: 45%;
}
#setUpFile{
    width: 100%
}

.msettings .txt-fld select ,.msettings .txt-fld input[type="text"] ,input[type="password"] {
    width: 220px;
    padding: 12px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 1.1em;
    background: #F7F7F7;
    border:1px solid #cccccc;
    color:#999999;
    position: relative;
}

.overlay {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999;
}
.msettings {
    width: 100%;
    padding-bottom: 0px;
    display: block;
    background: #FFF;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 0% auto;
    height: 100%;
}
.msettings-ct {
    width: 100%;
    height: 100%;
}
.msettings-header {
    height: 80px !important;
    padding: 30px 20px;
    color: #fff;
    text-transform: uppercase;
    height: 16px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 3px solid #F2F2F2;
    background: none repeat scroll 0 0 #1caff6;
}
.msettings-header h2 {
    float: left;
    font-size: 20px;
    font-weight: normal;
}
.msettings-ct .modalContainer {
    width: 100%;
    height: -moz-calc(100% - 80px);
    /* WebKit */

    height: -webkit-calc(100% - 80px);
    /* Opera */

    height: -o-calc(100% - 80px);
    /* Standard */

    height: calc(100% - 80px);
}
.areasSelectionDialog{
    position:relative
}
.msettings-header a.modal_close {
    background: url('../images/close.png');
    width: 20px;
    height: 20px;
    opacity: 0.2;
}
.msettings-header a.modal_close:hover {
    opacity: 0.4;
    cursor: pointer;
}
.msettings-header .modal_close {
    float: right;
}
.msettings {
    color: #7D7D7D;    
}
.msettings-ct .modalContainer .modalAreaSelectionMenu {
    margin-top:1%;
    margin-right: 2%;
    margin-left: 2%;
    position: relative;
}
.msettingsSmall {
    padding-bottom: 2px;
    display: block;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 500px;
    height: 250px;
}
.msettingsSmall input{
    width: 410px !important;
    margin: 20px 35px !important;
    font-size: 18px !important;
}
.msettingsMedium input[type="text"] {
    width: 300px !important;
    margin: 20px 30px !important;
}
.msettingsMedium {
    padding-bottom: 2px;
    display: block;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 500px;
    height: 400px;
}

.msettingsWide {
    padding-bottom: 2px;
    display: block;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 1000px;
    height: 400px;
}

.msettingsLarge {
    padding-bottom: 2px;
    display: block;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 1000px;
    height: 700px;
}

/* This is for the Status Window which is having problems on laptops (the top is off the screen)
   Positioning is still wrong! Margins make a mess!   */
.msettingsNotSoLarge {
/*    position: relative;
    top: 50px; */
    padding-bottom: 2px;
    display: block;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 1000px;
    height: 600px;
}

.msettingsStats {
    padding-bottom: 2px;
    display: block;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 450px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
}

.modalAreaSelectionMenu>div:last-child {
    float: left;
}
.modalAreaSelectionMenu > div:first-child{
    float: left;
}
.modalAreaSelectionContent {
    /* Firefox */
    height: -moz-calc(100% - 100px);
    /* WebKit */
    height: -webkit-calc(100% - 100px);
    /* Opera */
    height: -o-calc(100% - 100px);
    /* Standard */
    height: calc(100% - 100px);
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    position: relative;
}

.modalScrollable{
    overflow-y: auto;
}

.modalAreaSelectionMenu {
    height: 80px;
}
.msettings-ct .modalContainer .modalAreaSelectionMenu > div {
    width: 30%;
    height: 100%;
}
.msettings .modalContainer {
    width: 100%;
}
.msettings #resultsSetOfInterest div#resultsFilter div {
    height: 20px;
    min-width: 85px;
    display: block;
    float: left
}
.msettings #resultsSetOfInterest div#resultsFilter input.colsChoice {
    float: left;
    margin: 6px 3px;
}
.msettings #resultsSetOfInterest div#resultsFilter label.colsChoiceLbl {
    width: auto;
    padding: 2px 8px 0 0px;
}

.msettings .save-fld,
.save-basemap {
    padding: 13px 25px;
}
.save-fld input,
.save-basemap input {
    padding: 2px 11px;
    color: #7D7D7D;
}

.msettings .invertWrapper {
    height: 20px;
}
.msettings #invertColorsLabel {
    font-size: 10px;
    float: left;
    width: auto;
    padding: 0px;
}
.msettings #invertColors {
    float: left;
}

.modal-fit .modal-dialog {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
}

.modal-fit .modal-body {
    height: calc(100vh - 20px);
    overflow: hidden;
}
.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.osm-Modal .modal-dialog{
    width:400px;
    height: 400px;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.postal-code-modal .modal-dialog {
    width: 850px;
    position: absolute;
    height: 375px;
    top:0; bottom: 0; left: 0; right: 0;
}

.postal-code-box {
    width: 825px;
    height: 370px;
    top: 10px; bottom: 10px; left: 10px; right: 10px;
    margin: 10px;
}

.postal-codee-modal h3 {
    font-size: 14px;
}

.shapefile-modal .modal-dialog {
    width: 850px;
    position: absolute;
    height: 325px;
    top:0; bottom: 0; left: 0; right: 0;
}

.shapefile-box {
    width: 825px;
    height: 320px;
    top: 10px; bottom: 10px; left: 10px; right: 10px;
    margin: 10px;
}

.shapefile-modal h3 {
    font-size: 14px;
}

.mapping-Modal .modal-dialog{
    width:800px;
    height: 650px;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.mapping-Modal .modal-content {
    width:800px;
    height: 650px;
}
.mapping-Modal #choroWrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 325px;
}
.mapping-Modal .left {
    width: 60%; 
    float:left
}
.mapping-Modal .right {
    padding-top: 10px;
    width: 35%;
    float:right;
}
.mapping-Modal .break {
    width: 120px;
    color:#999999;
    border: 1px solid #cccccc;
    padding:0px;
}

#breakstable {
    display: inline-block;
}

#breakstable tr td {
    height: 22px;
}

#swatchtable {
    vertical-align: top;
    margin-top: 10px;
    display: inline-block;
}

#brewerLabel {
    position: absolute;
    margin-left:100px;
    opacity: 0.5;
}

#swatchtable tr td {
    height: 22px;
    width: 22px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-header {
    padding: 1px; /* modal border and content */
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 0px;
    border-radius: 6px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.stats-Modal .modal-dialog{
    width:500px;
    height: 400px;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.trace-Modal .modal-dialog{
    width: 950px;
    height: 400px;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
    overflow: none !important;
}

.error-Modal .modal-dialog{
    width: 950px;
    height: 400px;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
    overflow: none !important;
}

#traceContents  pre {
	word-wrap: break-word;
	overflow-wrap: break-word;
	display: inline;
	color: blue;
	background-color: white;
}
#traceContents  {
/*    width: 960px; 900px OK */
    width: 930px;
    height: 300px;
    position: absolute;
    top:80px; bottom: 0; left: 20px; right: 0;
    margin: auto;
    overflow: auto;
}

.status-Modal .modal-dialog{
    width:1000px;
    height: 700px;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.messages-Modal .modal-dialog{
    width:1000px;
    height: 700px;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.summary-Modal .modal-dialog{
    width:75%;
    height: 100%;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.summary-Modal .modal-body {
    height: calc(100vh - 20px);
    overflow: hidden;
}

.info-caution {
    font-size: 2em !important;
    color: #ff0000 !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    margin: 2px !important;
}

.info-header {
    font-size: 1.6em !important;
    font-weight: italic !important;
    text-transform: capitalize !important;
}
.info-table {
    font-size: 1.1em !important;
    font-weight: bold !important;
	padding-left: 10px !important;
	padding-right: 10px !important;

    width: -moz-calc(100% - 90px);
    /* WebKit */

    width: -webkit-calc(100% - 90px);
    /* Opera */

    width: -o-calc(100% - 90px);
    /* Standard */

    width: calc(100% - 90px);
}

circle {
  fill: #ff6600;
}

.riskFactorCharts {
  position: absolute;
  width: 100%;
  height: 100%;
}

#riskFactorChartTable {
  width: 100%;
  position: relative;
}

#riskFactorChartSelector {
  width: 100%;
  height: 80px;
}
#riskFactorSelector {
  position: absolute;
  width: 40%;
}
#gender1Selector {
  position: absolute;
  width: 30%;

  left: -moz-calc(50%);
    /* WebKit */

  left: -webkit-calc(50%);
    /* Opera */

  left: -o-calc(50%);
    /* Standard */

   left: calc(50%);
}
#gender2Selector {
  position: absolute;
  width: 30%;

  left: -moz-calc(70%);
    /* WebKit */

  left: -webkit-calc(70%);
    /* Opera */

  left: -o-calc(70%);
    /* Standard */

   left: calc(70%);
}

#riskFactor {
    margin: 2px;
    font-size: 18px !important;
    color: #8DB6CD;
    width: -moz-calc(95%) !important;
    /* WebKit */

    width: -webkit-calc(95%) !important;
    /* Opera */

    width: -o-calc(95%) !important;
    /* Standard */

    width: calc(95%) !important;
}
#gender1 {
    margin: 2px;
    font-size: 18px !important;
    color: #8DB6CD;
    width: 120px !important;
}
#gender2 {
    margin: 2px;
    font-size: 18px !important;
    color: #8DB6CD;
    width: 120px !important;
}

.riskGraphChartTitle {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline;
}

.riskGraphLegend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.riskGraph-error-line {
  stroke: #b30059;
  stroke-width: 2px;
  stroke-dasharray: 2,2;
}

.riskGraph-error-cap {
  stroke: #b30059;
  stroke-width: 2px;
  stroke-type: solid;
}

.riskGraph-bg {
   fill: #fff0e6;
}
 
.riskGraph-tooltip {
   position: absolute;
   height: auto;
   width: auto;
   padding: 15px;
   color: white;
   font-family: Monospace, Serif;
   pointer-events: none;
} 

.riskGraph2-tooltip {
   position: absolute;
   height: auto;
   width: auto;
   padding: 15px;
   color: white;
   font-family: Monospace, Serif;
   pointer-events: none;
}

.riskGraph-tooltip:after {
   content: " ";
   position: absolute;
   top: 50%;
   right: 100%; /* To the left of the tooltip */
   margin-top: -10px;
   border-width: 10px;
   border-style: solid;
   border-color: transparent #000000 transparent transparent;
}
.riskGraph-tooltip2:after {
   content: " ";
   position: absolute;
   top: 50%;
   right: 100%; /* To the left of the tooltip */
   margin-top: -10px;
   border-width: 10px;
   border-style: solid;
   border-color: transparent #000000 transparent transparent;
}

#exposureSelect {
    width: 150px;
    margin-top: 5px;
}