<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="30" name="RIF Statistics services Default">
<!--
  The Rapid Inquiry Facility (RIF) is an automated tool devised by SAHSU 
  that rapidly addresses epidemiological and public health questions using 
  routinely collected health and population data and generates standardised 
  rates and relative risks for any given health outcome, for specified age 
  and year ranges, for any given geographical area.
  
  Copyright 2014 Imperial College London, developed by the Small Area
  Health Statistics Unit. The work of the Small Area Health Statistics Unit 
  is funded by the Public Health England as part of the MRC-PHE Centre for 
  Environment and Health. Funding for this project has also been received 
  from the United States Centers for Disease Control and Prevention.  
  
  This file is part of the Rapid Inquiry Facility (RIF) project.
  RIF is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  RIF is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU Lesser General Public License for more details.
  
  You should have received a copy of the GNU Lesser General Public License
  along with RIF. If not, see <http://www.gnu.org/licenses/>; or write 
  to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, 
  Boston, MA 02110-1301 USA
  
  Default log4j2 setup for the RIF middleware. 
  
  Sets up two loggers:
  
  1. The default logger: RIFLogger used by the middleware: RIF_middleware.log
  2. "Other" for logger output not from RIFLogger: Other.log
  
  Logs go to STDOUT and ${env:CATALINA_HOME}/log4j2/<YYYY>-<MM>/ and %CATALINA_HOME/log4j2/<YYYY>-<MM>/
  Other messages go to the console. RIF middleware message DO NOT go to the console so we can find
  messages not using RIFLogger
  
  Logs are rotated everyday or every 100 MB in the year/month specific directory
  
  Typical log entry: 
  
	14:29:37.812 [http-nio-8080-exec-5] INFO  RIFLogger: [rifServices.datastorage.pg.PGSQLRIFContextManager]:
	PGSQLAbstractSQLManager logSQLQuery >>>
	QUERY NAME: getGeographies
	PARAMETERS:
	PGSQL QUERY TEXT: 
	SELECT DISTINCT 
	   geography 
	FROM 
	   rif40_geographies 
	ORDER BY 
	   geography ASC;


	;


	<<< End PGSQLAbstractSQLManager logSQLQuery

  Author: Peter Hambly; 12/9/2017
  -->
  <Properties>
    <!-- Log file names -->
    <Property name="rif_middleware">RIF_middleware.log</Property>
    <Property name="statistics">Statistics.log</Property>
    <Property name="rif_log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level: %msg%n</Property> 
										<!-- No logging source; always RIFLogger -->
    <Property name="statistics_log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT" direct="true">
      <PatternLayout pattern="${statistics_log_pattern}"/>
    </Console>
	<!-- File logs are in ${CATALINA_HOME}/log4j2 - %CATALINA_HOME/log4j2 -->
    <RollingFile name="RIF_middleware" 
				 filePattern="${sys:catalina.base}/log4j2/$${date:yyyy-MM}/${rif_middleware}-%d{yyyy-MM-dd}-%i.log"
				 immediateFlush="true" bufferedIO="true" bufferSize="1024">
      <PatternLayout pattern="${rif_log_pattern}"/>
	  <Policies>
		<TimeBasedTriggeringPolicy />              <!-- Rotated everyday -->
		<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
	  </Policies>
    </RollingFile>
    <RollingFile name="Statistics"
				 filePattern="${sys:catalina.base}/log4j2/$${date:yyyy-MM}/${statistics}-%d{yyyy-MM-dd}-%i.log"
				 immediateFlush="false" bufferedIO="true" bufferSize="1024">
      <PatternLayout pattern="${statistics_log_pattern}"/>
	  <Policies>
		<TimeBasedTriggeringPolicy />              <!-- Rotated everyday -->
		<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
	  </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <!-- Default logger: RIFLogger -->
    <Logger name="org.sahsu.rif.generic.util.RIFLogger" level="info" additivity="false">
      <!-- Disable the console to check all messages go through RIFLogger -->
      <!-- <AppenderRef ref="Console"/> -->
      <AppenderRef ref="RIF_middleware"/>
    </Logger>
	<!-- statistics logging -->
    <Root level="trace">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Statistics"/>
    </Root>
  </Loggers>
</Configuration>
