USE [RIF40]
GO
/****** Object:  Table [dbo].[T_RIF40_USER_PROJECTS]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_RIF40_USER_PROJECTS](
	[PROJECT] [varchar](30) NOT NULL,
	[USERNAME] [varchar](90) NOT NULL,
	[GRANT_DATE] [datetime2](0) NOT NULL,
	[REVOKE_DATE] [datetime2](0) NULL,
	[ROWID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [T_RIF40_USER_PROJECTS_PK] PRIMARY KEY CLUSTERED 
(
	[PROJECT] ASC,
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[T_RIF40_USER_PROJECTS] ADD  DEFAULT (user_name()) FOR [USERNAME]
GO
ALTER TABLE [dbo].[T_RIF40_USER_PROJECTS] ADD  DEFAULT (sysdatetime()) FOR [GRANT_DATE]
GO
ALTER TABLE [dbo].[T_RIF40_USER_PROJECTS] ADD  DEFAULT (newid()) FOR [ROWID]
GO
ALTER TABLE [dbo].[T_RIF40_USER_PROJECTS]  WITH NOCHECK ADD  CONSTRAINT [RIF40_USER_PROJECTS_PROJECT_FK] FOREIGN KEY([PROJECT])
REFERENCES [dbo].[T_RIF40_PROJECTS] ([PROJECT])
GO
ALTER TABLE [dbo].[T_RIF40_USER_PROJECTS] CHECK CONSTRAINT [RIF40_USER_PROJECTS_PROJECT_FK]
GO
ALTER TABLE [dbo].[T_RIF40_USER_PROJECTS]  WITH NOCHECK ADD  CONSTRAINT [T_RIF40_USER_PROJECTS_DATE_CK] CHECK  (([REVOKE_DATE] IS NULL OR [REVOKE_DATE]>[GRANT_DATE]))
GO
ALTER TABLE [dbo].[T_RIF40_USER_PROJECTS] CHECK CONSTRAINT [T_RIF40_USER_PROJECTS_DATE_CK]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_USER_PROJECTS.PROJECT' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_USER_PROJECTS', @level2type=N'COLUMN',@level2name=N'PROJECT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_USER_PROJECTS.USERNAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_USER_PROJECTS', @level2type=N'COLUMN',@level2name=N'USERNAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_USER_PROJECTS.GRANT_DATE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_USER_PROJECTS', @level2type=N'COLUMN',@level2name=N'GRANT_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_USER_PROJECTS.REVOKE_DATE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_USER_PROJECTS', @level2type=N'COLUMN',@level2name=N'REVOKE_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_USER_PROJECTS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_USER_PROJECTS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_USER_PROJECTS.T_RIF40_USER_PROJECTS_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_USER_PROJECTS', @level2type=N'CONSTRAINT',@level2name=N'T_RIF40_USER_PROJECTS_PK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.T_RIF40_USER_PROJECTS.T_RIF40_USER_PROJECTS_DATE_CK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_RIF40_USER_PROJECTS', @level2type=N'CONSTRAINT',@level2name=N'T_RIF40_USER_PROJECTS_DATE_CK'
GO
