USE [RIF40]
GO
/****** Object:  Table [dbo].[RIF40_STUDY_SHARES]    Script Date: 19/09/2014 12:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RIF40_STUDY_SHARES](
	[STUDY_ID] [numeric](8, 0) NOT NULL,
	[GRANTOR] [varchar](90) NOT NULL,
	[GRANTEE_USERNAME] [varchar](90) NOT NULL,
	[ROWID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [RIF40_STUDY_SHARES_PK] PRIMARY KEY CLUSTERED 
(
	[STUDY_ID] ASC,
	[GRANTEE_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RIF40_STUDY_SHARES] ADD  DEFAULT (user_name()) FOR [GRANTOR]
GO
ALTER TABLE [dbo].[RIF40_STUDY_SHARES] ADD  DEFAULT (newid()) FOR [ROWID]
GO
ALTER TABLE [dbo].[RIF40_STUDY_SHARES]  WITH NOCHECK ADD  CONSTRAINT [RIF40_STUDY_SHARES_STUDY_ID_FK] FOREIGN KEY([STUDY_ID])
REFERENCES [dbo].[T_RIF40_STUDIES] ([STUDY_ID])
GO
ALTER TABLE [dbo].[RIF40_STUDY_SHARES] CHECK CONSTRAINT [RIF40_STUDY_SHARES_STUDY_ID_FK]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_STUDY_SHARES.STUDY_ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_STUDY_SHARES', @level2type=N'COLUMN',@level2name=N'STUDY_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_STUDY_SHARES.GRANTOR' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_STUDY_SHARES', @level2type=N'COLUMN',@level2name=N'GRANTOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_STUDY_SHARES.GRANTEE_USERNAME' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_STUDY_SHARES', @level2type=N'COLUMN',@level2name=N'GRANTEE_USERNAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_STUDY_SHARES' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_STUDY_SHARES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'RIF40.RIF40_STUDY_SHARES.RIF40_STUDY_SHARES_PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RIF40_STUDY_SHARES', @level2type=N'CONSTRAINT',@level2name=N'RIF40_STUDY_SHARES_PK'
GO
